  <section>
    <div class="cta-banner container-fluid">
      <h2 class="h1-seo-replace mb-3"><a  href="/about-us">Ready to discover the joy of sailing in Greece?</a></h2>
      <br>
      <p class="lead cta-banner-text">Read what some of our sailing students have to say, explore our course catalogue, and contact us for more information about each course and our availabilities to come and sail in Greece!
      </p>
        <br>
      <div class="course-bottom-buttons mt-5">
       <a class="btn btn-deep-blue course-four-bottom" href="/#sailing-area" role="button">Book now &raquo;</a>
       <a class="btn btn-outline-deep-blue course-four-bottom" target="_blank" rel="noopener noreferrer" href="/about-us" role="button">Get in touch &raquo;</a>
      </div>
    </div>
  </section>