<div class="carousel-item-text">
  <h2 class="h1-seo-replace carousel-item-text__title">
    <b>RYA Training Centre in Malta</b>
  </h2>

  <h2 class="h1-seo-replace carousel-item-text__title__mobile">
    <span class="carousel-item-text__title__mobile__part-0">RYA</span>
    <span>Training Centre</span>
    <span>in Malta</span>
  </h2>
  <h6 class="carousel-item-text__subtitle">
    A comprehensive range of RYA sailing, powerboat, motorboat and
    shore-based theory courses.
  </h6>

  <a href="/course-dates">
    <button class="view-all-courses">VIEW ALL COURSES</button>
  </a>
</div>