<div class="carousel-item-text">
  <h2 class="h1-seo-replace carousel-item-text__title">
    <b>Your Gateway to Obtain Powerboat Handling (ICC) Licence</b>
  </h2>
  <h6 class="carousel-item-text__subtitle">
    You are allowed to sit in the Transport Malta Nautical Licence exam after
    successfully completing this course.
  </h6>
  <a href="/booking/courses/<%=courseName%>">
    <button class="view-all-courses">BOOK NOW</button>
  </a>
</div>