<div class="carousel-item-text">
  <h1 class="carousel-item-text__title">
    <b>Your Gateway to Obtain Malta Nautical Licence</b>
  </h1>
  <h6 class="carousel-item-text__subtitle">
    We deliver this course to over 250 students a year. We make it easy for you
    to get certified.
  </h6>
  <a href="/booking/courses/<%=courseName%>">
    <button class="view-all-courses">BOOK NOW</button>
  </a>
</div>