<% faqsData = [
    {
        id: "course-selection",
        title: "Course Selection",
        accordion: [
            {
                title: `What does Sailing School Malta offer ? `,
                text: `We provide almost all the RYA courses from Start Yachting up to Yachtmaster Ocean, both practical and shore-based courses. This includes sail cruising, motor cruising, powerboat and jetski courses, for both recreational sailors and commercial skippers. 
        
                We also run skipper refresher, mile building trip, team building activities, ICC assessment, plus own boat tuition in Malta. In addition, we are also a Transport Malta approved training facility to provide Malta Nautical License courses. 
        `,
            },
            {
                title: `What does an RYA training center mean?`,
                text: `The RYA is the UK’s national body for all forms of boating, including dinghy and yacht racing, motor and sail cruising, RIBs and sports boats, powerboat racing, windsurfing, inland cruising and narrow boats, and personal watercraft.
        
                Each year over 270,000 people take an RYA training course through our network of over 2,400 RYA recognised training centres in 58 countries. RYA courses are highly regarded worldwide due to the high standards maintained by those training centres and instructors.
        `,
            },
            {
                title: `What are the RYA course and course systems (track)?`,
                text: ` <a href="https://www.rya.org.uk/training/courses/~/media/DAM/Website%20Documents/training/Pathway%20leaflets/Sail%20Cruising.pdf"><u>RYA sail cruising course system</u></a>

        <a href="https://www.rya.org.uk/training/courses/~/media/DAM/Website%20Documents/training/Pathway%20leaflets/Motor%20Cruising.pdf"><u>RYA motor cruising course system</u></a>
        
        <a href="https://www.rya.org.uk/training/courses/~/media/DAM/Website%20Documents/training/Pathway%20leaflets/Powerboat.pdf"><u>RYA powerboat course system</u></a>
        
        <a href="https://www.rya.org.uk/training/courses/~/media/DAM/Website%20Documents/training/Pathway%20leaflets/Shorebased.pdf"><u>Shore-based courses system</u></a>
        `,
            },
            {
                title: `How do I choose the right sail cruising course  ? `,
                text: `You can check <a href="https://www.sailingschoolmalta.com/courses/choosing-the-right-course"><u>Here</u>.</a>

        Also the <a href="https://www.rya.org.uk/training/courses/~/media/DAM/Website%20Documents/training/Pathway%20leaflets/Sail%20Cruising.pdf"><u>Sailing cruising course system</u></a> helps you to understand the right course to start.
        `,
            },
            {
                title: `I am interested in a cruise with a skipper or charter, can I have more information?`,
                text: `Please send us an email to <a href="mailto:info@sailingschoomalta.com"><u>info@sailingschoomalta.com</u></a> and let us know how many participants you are, dates and time you are looking into, and your previous sailing experience if you want to skipper the boat yourself. `,
            },
            {
                title: `What is the best sail cruising course for beginners ?`,
                text: `The right courses for beginners are <a href="/courses/rya-start-yachting"><u>RYA Start Yachting</u></a> and <a href="/courses/rya-competent-crew"><u>RYA Competent Crew</u></a>. 
        
                The CC course lasts for 5 days. It is actually an extended course based upon RYA Start Yachting (2 days). 
        
                That means between the Start Yachting and Competent Crew course, there are another 3 days of training. You can complete your RYA Start Yachting course first then find the extra 3 days to complete CC course. We sometimes run Competent Crew course over 2 or 3 weekends. Please let us know if you have interested in this option.
        `,
            },
            {
                title: `Do I need to take the Competent Crew course before the Day Skipper course?`,
                text: `No, you don't need to. But you shall have met the mini requirement to join the Day Skipper Practical course. 

        You can find prerequisite <a href="/courses/choosing-the-right-course"><u>Here</u></a>.  
        `,
            },
            {
                title: `Can I join in the sail practical courses if I haven't completed the corresponding shore-based (theory) course before?`,
                text: `Yes for some courses reserved for beginners (Start Yachting, Competent Crew) you can join without taking the theory courses in advance. 
        
        For skippering courses (Day Skipper Practical, Coastal Skipper Practical, Yachtmaster offshore), you will have attended the corresponding theory shorebased course, or at least have a good understanding of the following: Tidal heights, Tidal streams, Course to steer, Passage planning, Navigation, Compass variation, Pilotage, Clearing bearings, 3 Position fixes, Rules of the Road (COLREGS), Lights & Shapes and Knots.
        `,
            },
            {
                title: `Do I need to do all beginner and intermediate level courses to be able to access the courses of higher level like coastal skipper or yachtmaster courses?`,
                text: `No, it is not mandatory, but you need to prove and show your capacity before signing up to the higher level courses. So the best practice would be to contact us first. Still, we will not assure that you will obtain your course completion certificates if your skill and knowledge don’t match the minimum capacity required in the course syllabus. 
        
                Please check <a href="/courses/choosing-the-right-course"><u>Here</u></a> to find the minimum prerequisite to join each sail cruising course level.`,
            },
            {
                title: `I am interested in the Day Skipper / Coastal skipper course, and my friends are interested in the Competent Crew course. Can we take the course during the same date and on the same boat?`,
                text: `Sure, we often mix skipper courses and competent crew courses. As a skipper you will need to learn how to give indication to your crew.`,
            },
            {
                title: `What course do I need to take to be able to sail my own boat or charter a boat?`,
                text: `It is preferable to have completed at least the <a href="/courses/rya-day-skipper-practical"><u>Day Skipper Practical course</u></a> and apply then an ICC (International Certificate of Competence) to be able to charter a boat in local water and foreign countries.
                
                Note that some countries require specific certification. Like in Malta, if you are a Maltese resident, you also need a <a href="/courses/transport-malta-nautical-license"><u>Transport Malta Nautical License</u></a> in order to crew and drive a boat in Maltese water. 

        You are also recommended to take the <a href="https://www.sailingschoolmalta.com/courses/rya-marine-radio"><u>RYA Marine Radio VHF</u></a> course. The VHF course will be useful if you want to do chartering in the future, because you are required to hold a valid VHF certificate for that purpose.
        
        The ICC (or to give it its full title International Certificate for Operators of Pleasure Craft) is a certificate which is intended to provide evidence of competence when requested by officials in foreign countries. 
        
        Learn more about the ICC, its history, whether you can apply it from RYA, what it does and doesn't do, and where it might be accepted, check <a href="https://www.rya.org.uk/knowledge/abroad/icc/evidence-of-competence-abroad"><u>Here</u>.</a>`,
            },
            {
                title: `Recommended pre-course reading ?`,
                text: `For Day Skipper Practical Course: <a href="https://www.rya.org.uk/shop/p/sail-and-motor-cruising/rya-day-skipper-practical-course-notes"><u>RYA Day Skipper Handbook</u></a>
        For Coastal Skipper Practical Course: <a href="https://www.pdfdrive.com/yachtmaster-for-sail-and-power-a-manual-for-the-rya-yachtmaster-certificates-of-competence-e199671095.html"><u>Yachtmaster for Sail and Power by Alison Noice</u></a>
        RYA Marine Radio VHF: <a href="https://www.rya.org.uk/shop/p/communications/rya-vhf-handbook"><u>RYA VHF Handbook</u></a>
        Logbook: <a href="https://www.rya.org.uk/shop/p/rya-yachtmaster-scheme-syllabus-and-logbook"><u>RYA Yachtmaster Scheme Syllabus and Logbook</u></a>
        `,
            },
            {
                title: `Do you offer courses other than RYA courses ?`,
                text: `Yes, we also offer the <a href="/courses/transport-malta-nautical-license"><u>Transport Malta Nautical Licence course</u></a>. Sailing School Malta is an approved training establishment by Transport Malta. We provide TM Nautical License courses to more than 250 students a year. 
        
                In addition, we also offer other sailing activities and specialty courses, such as: <a href="/courses/corporate-team-building"><u>corporate team building</u></a>, <a href="/courses/flotilla-skipper-training"><u>flotilla skipper training</u></a>, <a href="/courses/own-boat-tuition"><u>own boat tuition</u></a>, <a href="/courses/boat-handling-course"><u>boat handling course</u></a>, <a href="/courses/sail-handling-course"><u>sail handling course</u></a>, <a href="/courses/mile-builder"><u>mile building trip</u></a>, among others.
        
                <a href="/courses/stcw-courses"><u>STCW course</u></a> are collaborated with the fire station of Malta to carry out.`,
            },
            {
                title: `How many others will be on board for the practical courses?`,
                text: `Max of 5 plus Instructor (Sail)
          Max of 4 plus Instructor (Power & Motor)
          `,
            },
            {
                title: `Can we book the yacht as exclusive for a course or cruise?`,
                text: `Yes, many families and couples do! Please check <a href="/courses/rya-courses-family-sailing"><u>Here</u></a> for more details.
        `,
            },
            {
                title: `What’s included in my RYA Sail practical course?`,
                text: `        -Accommodation onboard (not mandatory, you can choose to stay in a hotel also)
        -Welcome pack with provisions and soft drinks
        -Experienced RYA qualified instructor
        -Safety gear, including life jacket and safety harness
        -Diesel, gas and marina fees
        -Bed linen & towels
        `,
            },
            {
                title: `I have other questions!`,
                text: `No problem! <a href="/contact"><u>Ask us!</u></a>
        `,
            },
        ],
    },
    {
        id: "course-arrangement",
        title: "Course Arrangement",
        accordion: [
            {
                title: `Does Sailing School Malta run sailing courses all year around?                  `,
                text: `Yes, we do. High season: April - November; Low Season: December to March. RYA practical sailing course runs almost every week all year round.
        `,
            },
            {
                title: `When and how often do you run practical sailing courses?`,
                text: `The Competent Crew / Day Skipper Practical / Coastal Skipper Practical run every week from Jan to Dec. Mainly Monday to Friday.
                
              The Start Yachting course runs every weekend from April to November; and every other weekend from December to March.
              
              The Powerboat Level 2 Handling course and Transport Malta Nautical License courses run every two weeks. Mainly Saturday to Sunday.`,

              
            },
            {
                title: `When and how often do you run day skipper/coastal skipper-yachtmaster theory courses?
          `,
                text: `Day Skipper / Coastal-Yachtmaster Skipper Theory courses are available every week Monday to Friday all year around, excluding the public holiday.`,
            },

            {
                title: `When and how often do you run motor cruising courses?`,
                text: `Motor cruising courses are provided upon request.`,
            },
            {
                title: `When and how often do you run mile building trips?`,
                text: `We run mile builder every month. Destination include: Malta-Gozo, Sicily, Greece, Sardinia, Tunisia, and Mallorca. Please check <a href="/courses/mile-builder"><u>Here</u></a> for more information.`,
            },
            {
                title: `When do you have a RYA Yachtmaster preparation course and exam available?                  `,
                text: `We run Yachtmaster preparation course every month, with minimum YM candidate onboard 2 students.`,
            },
        ],
    },
    {
        id: "booking-and-payment",
        title: "Booking and payment",
        accordion: [
            {
                title: `How do I book and pay for a course ?                   `,
                text: `You can book directly on our website, in each course page, and make the payment using credit/debit card (powered by Stripe), PayPal, Revolut (+356 9964 3706) or through a bank transfer to the following bank account:
        Bank of Valletta (BOV)
        Atalanta Sailing Ltd
        IBAN: MT48VALL22013000000040023021709
        BIC/SWIFT: VALLMTMT
        Account no: 40023021709
        Address: Bank of Valleta p.l.c. 58 Triq San Zakkarija, II-Belt Valletta VLT 1130 Malta
        If you choose to do a bank transfer, please send us a notice and proof of payment by email.
        `,
            },
            {
                title: `How can I know if my booking / payment is successful?
          `,
                text: `You will be directed to a payment successful page or sent a notice of successful payment in the web browser if the online payment goes through. We will then receive an email confirming the reception of your payment and booking, and at same time you will receive a joining instruction and booking form for RYA courses.`,
            },
            {
                title: `Can we book our own exclusive yacht for a course or cruise ?
          `,
                text: `Yes, many families and couples do! The cost can vary according to high season or low season. Please check <a href="/courses/rya-courses-family-sailing"><u>Here</u></a> or send us an enquiry first.`,
            },

            {
                title: `How do I book a cruise or charter?                  `,
                text: `Please send us an email with your preferred dates and number of participants. We will send you a fully detailed offer in return.`,
            },
            {
                title: `I dont wish to participate in the course but simply accompany friends or members of my family on the boat. Is this possible ?`,
                text: `Yes, it is possible, but you will still need to reserve a place. Same applies if you want to reserve a cabin with your friend or family to sleep onboard.`,
            },
            {
                title: `What administrative documents do I need to register for an RYA course ?                  `,
                text: `A <a href="/files/28e396d36e683f8b6ed5a2b04cfa0320.pdf"><u>Course Booking Form</u></a> which contains all the necessary administrative information will be given to you before the course. Please fill in and send it back to us.`,
            },
            {
                title: `Do I need insurance? Am I insured for personal injury whilst on board?                  `,
                text: `Yes! However, you should also take out normal holiday insurance.  `,
            },
            {
                title: `Is it possible to pay on arrival or do I have to pay in advance ?
        `,
                text: `Unless agreed, the full price of the course is to be paid in advance before the course starts. Payment is possible by card, bank transfer or PayPal.    `,
            },
            {
                title: `What happens in the event that the course is canceled ? `,
                text: `A full refund or an alternative booking will be offered if we cancel for reasons beyond our control. However, no liability will be accepted for flight tickets already purchased, other costs relating to travel or incidental expenses incurred.
                
                We recommend travel insurance to cover any costs or expenses.`,
            },
            {
                title: `What happens in the event that I need to cancel my booking? `,
                text: `Please see our <a href="/legal-notice"><u>Terms and Conditions</u></a>.`,
            },
            {
                title: `If I don't want to finish the course I purchased for some reason, can I get a refund ? `,
                text: `No, unfortunately it is not possible to get a refund once the course has started.`,
            },
            {
                title: `Can I pay a deposit to secure my booking instead of the full amount?`,
                text: `Yes, you can, usually it's 30% of total cost. Please make a bank transfer in case you prefer to make a partial deposit in order to save us the transaction fee. Alternatively, you can pay the full amount of the course fee directly on our website.                        `,
            },
        ],
    },
    {
        id: "logistics-onboard-and-catering",
        title: "Logistics, accommodation",
        accordion: [
            {
                title: `Where is the boat for practical sailing courses located ?                 `,
                text: `The boat is berthed in Manoel Island Yacht Marina, pontoon D, near the Paparazzi restaurant.
      Click <a href="https://goo.gl/maps/gbwr3EB1qmtHeC659"><u>Here</u></a> to locate it on Google Map.
      `,
            },

            {
                title: `What’s the best way to reach the boat from the airport ?`,
                text: `There is only one airport in Malta: Malta International, airport code MLA. 
      On arrival at Malta airport, there is a kiosk at the exit from the airport, where you can pre pay the taxi to the boat or hotel. The cost of this is usually around 25 Euro. 
      Alternatively, you can use Taxi Apps (cheaper than taxis), the most popular ones are: 
      Bolt - They are the fastest
      Ecab - They have a lot of taxis
      The taxi drivers speak good English.
       `,
            },

            {
                title: `Will I be met on arrival ?
        `,
                text: `We don’t offer pick-up at the airport. But our skipper or receptionist will be on the boat to meet you in the morning of course or in the evening before.`,
            },

            {
                title: `What time is the start and the end of the course ? `,
                text: `Each training day, the courses usually start at 9:30 a.m. and end around 4:30 p.m. In case of night sail sessions, the arrival time to the marina may vary.`,
            },
            {
                title: `Can I sleep and cook on the boat ?                   `,
                text: `All multi-day practical sailing courses can include accommodation on the training boat for students, but you need to confirm your intention. We may charge a small fee of 20 euro for cleaning service as the boat needs to be deep cleaned between courses, as well as the normal laundry requirements. 
  
                We will provide sheets, pillows, blankets / quilt, and towels. A fully functional kitchen onboard shared by all crew on a self catering basis. There are also dedicated bathrooms at the entrance to the marina.
      `,
            },
            {
                title: `Is lunch included in the course price ?  `,
                text: `No, it’s NOT included. We recommend you to bring your own packed lunch onboard. You can also cook your lunch and dinner on the boat. In that case, we appreciate it if you can keep the galley tidy and clean.
      `,
            },
            {
                title: `How many days & nights will I stay on board ?  `,
                text: `For sail practical courses starting on Monday, such as Competent Crew, Day Skipper Practical, you can sleep on the boat during the course period, so usually 4 nights from Monday to Friday. 
        
                Many students arrive in Malta on Sunday before the course starts on Monday. In this case, we may provide an earlier check in on Sunday evening on a case by case basis. Please let us know if you require sleep onboard on Sunday night and your flight arrival time.
        
                For the Start Yachting course, you will sail 2 days, with NO accommodation onboard night sail included.
        `,
            },
            {
                title: `What weather and wind can I expect in Malta ?`,
                text: `Malta average temperature and wind speed by month:
  
                <img src="/images/faqs/faqs-weather.png" width="100%"/>
  
  Please note that the temperatures in Malta are normally very warm during the day but it can be cold in the evenings and windy at sea. It is a good idea to bring a small light rain mac if you have one and also a pair of long trousers and a warm fleece, just in case.
      `,
            },

            {
                title: `Which model of sailing yacht is used for training ?`,
                text: `We have two yachts for practical sail training course. One is called <a href="/yachts/lookfar"><u>“Lookfar”</u></a>, a Bavaria 44 Cruiser.
                Another is calleda <a href="https://mastersailingmalta.com/yacht"><u>"Ocean Caresser"</u></a> , a Bavaria 46 Cruiser.
                Both have 4 cabins, 2 heads. Ideal for training and cruising.
                `,
            },

            {
                title: `Which shorebased accommodation and restaurants close to the marina do you recommend ? `,
                text: `There are a lot of restaurants close to the marina, Bus Stop Lounge is a good restaurant,where you can enjoy a beautiful view of Gzira bay and delicious food with your crew members and trainer. Having a local beer Cisk with some snacks is really a pleasure after a day of heavy training.  
      
                Paparazzi restaurant is located at the entrance to the marina.
      
                The Bayview Hotel by ST Hotels and Waterfront Hotel are value hotels, both located in the Sliema seafront, just a few minutes walk to the marina.`,
            },
            {
                title: `Can I leave my bag if I arrive earlier than check in ?                  `,
                text: `Please contact us first if that would happen. We need to make sure if early boarding is possible. If so, no problem for depositing the luggage on the boat. We are not responsible for the security of your personal belongings onboard.
      `,
            },
            {
                title: `If I stay for more than a week, do the marinas have laundry facilities ?                 `,
                text: `No, it is best to bring clothes for the duration of the course and some extra change of clothes.`,
            },
            {
                title: `Can I stay on the boat during theory courses, such as day skipper/coastal skipper theory courses ?                `,
                text: `Most of the time you will NOT be able to. Because we use the boat to run the practical course during the week. However, if we don’t have the practical course during your theory course, you may be able to do that, but you need to contact us to check the availability first.`,
            },

            {
                title: `Where do day skipper and coastal skipper Yachtmaster theory courses take place ?`,
                text: `We arrange classroom theory training in our office at <u>Geoemms 3, Triq Hal Kaprat, Santa Venera, Malta.</u>
      Alternatively, you can choose to take <a href="https://www.sailingschoolmalta.com/courses/rya-online-courses"><u>online theory courses.</u></a>`,
            },

            {
                title: `Can I have my own key to the marina facilities ?
        `,
                text: `Yes, a key will be at your disposal to access the showers and toilets.`,
            },

            {
                title: `Are the marinas secure ?`,
                text: `Generally it's secure, the facilities are monitored.  Generally crime in Malta is not an issue. However, we are not responsible for personal belongings loss.
      `,
            },
            {
                title: `Can I book my own cabin ?                 `,
                text: `Yes! Subject to the number of students onboard and availability, we guarantee you your own cabin for 1 or 2 persons at time of booking. `,
            },
            {
                title: `What time is check-in ?                `,
                text: `Generally on Monday at 9:00-9:30, unless otherwise agreed.`,
            },
            {
                title: `What time is check-out ?                 `,
                text: `We kindly ask you to vacate the yacht by 17:00 on the Friday of departure.`,
            },
        ],
    },
    {
        id: "provision-and-equipment",
        title: "Provision and Equipment",
        accordion: [
            {
                title: `What’s included in my RYA practical course ?`,
                text: `Cabin accommodation
        Welcome pack with snacks and soft drinks
        Experienced RYA qualified instructor
        Safety gear, including life jacket and safety harness
        Diesel, gas and marina fees
        Bed linen & towels
        `,
            },
            {
                title: `What’s not included ?`,
                text: `Flights
        Transfers
        Meals and drinks 
        Sailing clothing
        Bed linen 
        End cleaning 
        `,
            },
            {
                title: `What should I bring for sailing courses ? 
          `,
                text: `Packed lunch (you can get at nearby cafe)
        Sunglasses
        High factor sun cream (not oil please!)
        Deck shoes if possible, otherwise soft shoes with a non marking sole
        Shorts or pants (Please be aware that these are liable to get dirty, so not your best ones!)
        T-Shirts
        Fleece or jumper for the evenings and windy days at sea. In winter period, you may need a sailing jacket
        Light long sleeved shirt if you need to cover up in the sun
        Baseball/sun hat (preferably with a clip to stop it blowing overboard!)
        Sailing Gloves, not mandatory
        Sea sickness tablets should you need them
        Phone/ Ipad / laptop chargers – 12V (cigarette style chargers) if needed
        And above all, enthusiasm!
        `,
            },

            {
                title: `How should I pack ? `,
                text: `A soft suitcase or bag is preferable, as they are easier to store on board than a hard case.
        `,
            },
            {
                title: `Are safety equipment provided? What are they ?  `,
                text: `All the necessary safety equipment (life jackets, lifeline, distress flares...) is on board.
        `,
            },
            {
                title: `Do you provide towels ?      `,
                text: `Yes, we supply bath and hand towels, but not beach towels!`,
            },
        ],
    },
    {
        id: "during-the-course",
        title: "During the Course",
        accordion: [
            {
                title: `How many others will be on board ?`,
                text: `Max of 5 students plus Instructor (Sail)
        Max of 4 students plus Instructor (Power & Motor) 
        Max of 3 students plus Instructor (Theory)
          `,
            },
            {
                title: `What miles will we cover with 5 day practical courses ? `,
                text: `During the course we sail around Malta to discover the island, during the 5 day courses we may go as far as the island of Gozo. The one week trip from Malta to Sicily, Syracuse and back covers 300-400 nautical mile.`,
            },
            {
                title: `I have never sailed, are there any health restrictions? Do I have to be perfectly healthy ?
          `,
                text: `You need to make sure you don't suffer from Epilepsy, Giddy Spells, Asthma, Diabetes, Angina or other heart conditions (other than previously advised in confidence). `,
            },

            {
                title: `I have never practiced sailing, is it dangerous ?`,
                text: `The sea is a dangerous and unpredictable natural element, but accidents can be avoided because safety rules are respected, safety equipment is present on board and our instructors are experienced.`,
            },
            {
                title: `Do I have to be able to swim to take part in a course ?                  `,
                text: `It is preferable to know how to swim, but life jackets are there to ensure your safety.
        `,
            },
            {
                title: `Is sailing very technical or is it accessible to the general public ?     `,
                text: `We offer sailing lessons suitable for all levels, you can <a href="https://www.sailingschoolmalta.com/courses/choosing-the-right-course"><u>Check Here</u></a> to determine which course is best suited to your level.`,
            },
            {
                title: `Can I swim off the yacht ?               `,
                text: `Yes, we do that often with the yacht secured at anchor and if the sea and weather conditions are good.`,
            },
            {
                title: `Will we meet dolphins while sailing?             `,
                text: `It is possible to see some but it is quite rare.`,
            },
        ],
    },
    {
        id: "license-and-certifications",
        title: "License and Certifications",
        accordion: [
            {
                title: `Will I have a diploma or certification at the end of the course ? Are they recognized abroad ?               `,
                text: `RYA certifications are recognized internationally. A certificate/license will be issued to you at the well completion of each course.`,
            },
            {
                title: `In which sailing areas do the RYA certificate give me the right to sail ?`,
                text: `RYA (Royal Yachting Association) certificates of competency are respected and recognized as the best internationally, you can sail internationally with RYA certificates. 
        
                However, each certificate level has its limits, see detail <a href="https://www.rya.org.uk/training/certificates-of-competence"><u>Here</u></a>. `,
            },
            {
                title: `How do I gain the RYA navigational theory knowledge required ?
          `,
                text: `We offer all the <a href="/courses/rya-shorebased-courses"><u>RYA theoretical and shorebased courses</u></a>, which allow you to acquire knowledge in order to prepare you for the practical courses.`,
            },

            {
                title: `What qualifications do I need for charter ?`,
                text: `Bareboat charterers should have at least Day Skipper (daytime sailing only!) and VHF license or higher. 
                
                An ICC or equivalent is also preferable.`,
            },
            {
                title: `What is ICC and why do I need it ?`,
                text: `The International Certificate of Competence (ICC) was introduced by the European Directive in order to ensure that operators of small leisure vessels operating throughout the waters of participating nations (‘Resolution 40 Nations’) in Europe were tested and certified to a basic level of competence. Many of Europe’s charter companies and overseeing authorities require the skipper of a yacht or motorboat to have an ICC.
                
                More detail on ICC and ICC application, click <a href="https://www.rya.org.uk/knowledge/abroad/icc"><u>Here</u></a>.`,
            },
            {
                title: `What is Commercial Endorsement and how can I be endorsed ?`,
                text: `The RYA certificate mainly serves for chartering and skippering a boat for leisure/personal use. If you want to do a boat tour commercially, you need to get RYA commercial endorsements.
        
                A commercial endorsement is required to add onto the RYA qualifications when acting professionally as skipper or crew.  RYA Day Skipper practical and upper level course completion certificates supported by their corresponding shorebased course completion certificate can be endorsed. 
        
        For more info about endorsement, check <a href="https://www.rya.org.uk/training/professional-qualifications/commercial-endorsements"><u>Here</u></a>. `,
            },
            {
                title: `Difference Between RYA Course and TMNL ?`,
                text: `Transport Malta Nautical License (TMNL) and the RYA courses are two different systems. TMNL for people who would like to charter and drive a boat up to 24 meter in Maltese water. It is like a local driving license, only required if you are a Maltese resident. While RYA certificates are more internationally recognized sailing qualifications that can be applied/valid to the majority of the waters around the globe.`,
            },
        ],
    },
    {
        id: "other-sailing-activities",
        title: "Other Sailing Activities",
        accordion: [
            {
                title: `I would like to organize an event for my company. Can you offer this kind of product ?`,
                text: `Yes, we can organize corporate team building tailored to your need, have a look of our typical one-day and two-day team building activity <a href="https://www.sailingschoolmalta.com/files/279162ecfd27b7ab59664e406f5066c8.pdf"><u>Here</u></a>.
        
                Please contact us for more information.`,
            },
            {
                title: `Do you organize one day or multi-day sightseeing cruises on the boat ?`,
                text: `Yes. We organize half-day, one day, and sunset cruise trips around Maltese island.  Being an RYA sailing school, we also offer mile building trip to Sicily, and beyond that last around 7-14 days. You can check <a href="/courses/mile-builder"><u>Here</u></a> for more information.`,
            },
            {
                title: `Do you provide students’ own boat tuition courses ?
          `,
                text: `Yes. Sometimes you want to learn in the familiar environment of your own boat with people you know. Our instructors can teach you anything from a half day of docking practice to a full familiarization and handling of your new boat, all while focusing on your own individual requirements. More details <a href="/courses/own-boat-tuition"><u>Here</u></a>.`,
            },

            {
                title: `Do you provide boat handling courses ?`,
                text: `Yes. The <a href="/courses/boat-handling-course"><u>Boat Handling Course</u></a> will go a long way to relieving those feelings of apprehension when the time comes to carry out a manoeuvre in a tight marina or in windy conditions. Your experienced instructor will explain the main factors that affect how a yacht handles under power and armed with this information you will have the chance to put theory into practice in a variety of situations.`,
            },
        ],
    },
]; %>