<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Athena Yachting Academy | RYA Sailing School in Greece</title>

  <!-- website description SEO -->
  <meta name="description" content="The leading RYA sailing school in Greece, offering quality sailing, powerboat, motorboat courses at all levels, both practical and theory">
  <meta name="keywords" content="Greece sailing, sailing Greece, RYA Greece, sailing courses Greece, learn sailing Greece, mile builder, adventures, family sailing, yachtmaster, transport Greece nautical licence, skipper training, Mediterranean sailing, start yachting, day skipper, competent crew, coastal skipper, VHF, charter, cruise">
  <meta name="geo.region" content="GR">
  <meta name="geo.placename" content="Athens">
  <meta name="author" content="Athena Yachting Academy">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include("header-cdn")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("./nav")-%>

  </div>