<nav class="navbar navbar-expand-xxl navbar-dark">
  <!-- Logo and brand -->
  <a class="navbar-brand" href="/">
    <img src="/images/Athena_Yachting_Academy_ Horizontal_White_Logo.png" alt="aya_logo" class="navbar-logo">
    <img src="/images/Athena_Yachting_Academy_ Horizontal_White_Logo_Mobile.png" alt="aya_logo" class="navbar-logo-mobile">
  </a>
  <div class="navbar-buttons">
    
    <div class="navbar-buttons-tablet">
      <a class="btn btn-light box-shadow--3dp navbar-book-now-button--expand navbar-book-now-button-tablet" href="/course-dates"><span class="navbar-book-now-button-text">BOOK NOW</span></a>
      <a id="navbar-rya-mobile" href="/login"><img src="/images/RYA-Training-Centre-New-Logo-White-No-Border.webp" alt="RYA Certified Training Center" class="btn navbar-rya"></a>
    </div>

    <a class="btn btn-light box-shadow--3dp navbar-book-now-button navbar-booknow-hamburger navbar-booknow-hamburger-mobile" href="/course-dates">
      <span class="navbar-book-now-button-text">BOOK NOW</span>
    </a>

    <!-- Hamburger Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_navbar" aria-controls="main_navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>

  <!-- Options Bar-->
  <div class="collapse navbar-collapse" id="main_navbar">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown">School</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/about-us">About Us</a></li>
          <li><a class="dropdown-item" href="/about-us#team">The Team</a></li>
          <li><a class="dropdown-item" href="/">Fleet & Bases</a></li>
          <li><a class="dropdown-item" href="/about-us#boatowners">Boat Owners</a></li>
          <li><a class="dropdown-item" href="/images">Gallery</a></li>
          <li><a class="dropdown-item" href="/blog">Blog</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/course-dates">Calendar</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Courses</a>
        <ul class="dropdown-menu">

          <li><a class="dropdown-item" href="/courses/rya-practical-sail-cruising">RYA Practical Sail Cruising &raquo;</a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/rya-start-yachting">RYA Start Yachting</a></li>
              <li><a class="dropdown-item" href="/courses/rya-competent-crew">RYA Competent Crew</a></li>
              <li><a class="dropdown-item" href="/courses/rya-day-skipper-practical">RYA Day Skipper Practical</a></li>
              <li><a class="dropdown-item" href="/courses/rya-coastal-skipper-practical">RYA Coastal Skipper Practical</a></li>
              <li><a class="dropdown-item" href="/courses/rya-yachtmaster-preparation-and-exam">RYA Yachtmaster Preparation and Exam</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/courses/rya-day-skipper-package">RYA Day Skipper Package</a></li>
              <li><a class="dropdown-item" href="/courses/rya-coastal-skipper-package">RYA Coastal Skipper Package</a></li>
              <li><a class="dropdown-item" href="/courses/rya-yachtmaster-package">RYA Yachtmaster Package</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/courses/rya-day-skipper-fast-track">RYA Day Skipper Fast-track (3 Weeks)</a></li>
              <li><a class="dropdown-item" href="/courses/rya-day-skipper-fast-track-practical-only">RYA Day Skipper Fast-track (2 Weeks)</a></li>
              <li><a class="dropdown-item" href="/courses/rya-coastal-skipper-fast-track">RYA Coastal Skipper Fast-track</a></li>
              <li><a class="dropdown-item" href="https://mastersailingmalta.com/fastrack">RYA Yachtmaster Fast-track</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/courses/rya-courses-family-sailing">RYA Courses - Family Sailing</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/courses/choosing-the-right-course">Choosing the Right Sailing Course</a></li>
            </ul>
          </li>

          <li><a class="dropdown-item" href="/courses/rya-practical-motor-cruising">RYA Practical Motor Cruising &raquo;</a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/rya-start-motor-cruising">RYA Start Motor Cruising</a></li>
              <li><a class="dropdown-item" href="/courses/rya-motor-cruising-helmsman">RYA Motor Cruising Helmsman</a></li>
              <li><a class="dropdown-item" href="/courses/rya-motor-cruising-day-skipper">RYA Motor Cruising Day Skipper</a></li>
              <li><a class="dropdown-item" href="/courses/rya-motor-cruising-coastal-skipper">RYA Motor Cruising Coastal Skipper</a></li>
              <li><a class="dropdown-item" href="/courses/rya-motor-cruising-advanced-pilotage">RYA Motor Cruising Advanced Pilotage</a></li>
            </ul>
          </li>

          <li><a class="dropdown-item" href="/courses/rya-practical-powerboat">RYA Practical Powerboat &raquo;</a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/rya-level-1-powerboating">RYA Level 1 Start Powerboating</a></li>
              <li><a class="dropdown-item" href="/courses/rya-level-2-powerboat-handling">RYA Level 2 Powerboat Handling</a></li>
              <li><a class="dropdown-item" href="/courses/rya-personal-watercraft-proficiency-course">RYA Personal Watercraft Proficiency Course</a></li>
            </ul>
          </li>

          <li><a class="dropdown-item" href="/courses/rya-shorebased-courses">RYA Shorebased Courses &raquo;</a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/rya-day-skipper-theory">RYA Day Skipper Theory</a></li>
              <li><a class="dropdown-item" href="/courses/rya-coastal-skipper-yachtmaster-offshore-theory">RYA Coastal Skipper / Yachtmaster Offshore Theory</a></li>
              <li><a class="dropdown-item" href="/courses/rya-yachtmaster-ocean-theory">RYA Yachtmaster Ocean Theory</a></li>
              <li><a class="dropdown-item" href="/courses/rya-marine-radio">RYA Marine Radio (SRC)</a></li>
              <li><a class="dropdown-item" href="/courses/rya-essential-navigation-and-seamanship">RYA Essential Navigation And Seamanship</a></li>
              <li><a class="dropdown-item" href="/courses/rya-professional-practices-and-responsibilities">RYA Professional Practices and Responsibilities</a></li>
              <li><a class="dropdown-item" href="/courses/rya-diesel-engine">RYA Diesel Engine</a></li>
              <li><a class="dropdown-item" href="/courses/rya-first-aid">RYA First Aid</a></li>
              <li><a class="dropdown-item" href="/courses/rya-radar">RYA Radar</a></li>
              <li><a class="dropdown-item" href="/courses/rya-sea-survival">RYA Basic Sea Survival</a></li>
              <li><a class="dropdown-item" href="/courses/rya-offshore-personal-survival">RYA Offshore Personal Survival</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/courses/rya-commercial-endorsements">RYA Commercial Endorsements</a></li>
            </ul>
              <li><a class="dropdown-item" href="/courses/rya-courses-family-sailing">RYA Family Sailing Course</a></li>

          </li>

          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="/courses/transport-malta-nautical-license">National Sailing Certificate</a></li>
          <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/courses/day-skipper-plus-practical-course">Day Skipper Plus Course</a></li>
              <li><a class="dropdown-item" href="/courses/boat-handling-course">Boat Handling Course</a></li>
              <li><a class="dropdown-item" href="/courses/sail-handling-course">Sail Handling Course</a></li>
              <!-- <li><a class="dropdown-item" href="/courses/mile-builder">Mile Building Trips</a></li> -->
          <div class="dropdown-divider"></div>
          <!-- <li><a class="dropdown-item" href="#">Continuation Courses &raquo;</a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="/courses/day-skipper-plus-practical-course">Day Skipper Plus Practical Course</a></li>
              <li><a class="dropdown-item" href="/courses/boat-handling-course">Boat Handling Course</a></li>
              <li><a class="dropdown-item" href="/courses/sail-handling-course">Sail Handling Course</a></li>
              <li><a class="dropdown-item" href="/courses/mile-builder">Mile Builders</a></li>
            </ul>
          </li> -->
          <li><a class="dropdown-item" href="/courses/own-boat-tuition">Own Boat Tuition</a></li>
          <li><a class="dropdown-item" href="/courses/icc-assessment">ICC Assessment</a></li>
          <li><a class="dropdown-item" href="/courses/stcw-courses">STCW Courses</a></li>
          <li><a class="dropdown-item" href="/courses/flotilla-skipper-training">Flotilla Skipper Training</a></li>
          <li><a class="dropdown-item" href="/courses/corporate-team-building">Corporate Team Building</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="/courses">All Courses & Prices</a></li>

        </ul>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Mile Builder</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/courses/mile-builder">All Mile Builders & Sailing Adventures &raquo;</a></li>
          <!-- <li><a class="dropdown-item" href="/blog/646ae1d34687b30002454796">What is Mil e Builder and Why</a> -->
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/destinations/malta-east-sicily-mile-builder">8-Day Malta - East Sicily Mile Builder</a>
          </li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/destinations/malta-west-sicily-mile-builder">8-Day Malta - West Sicily Mile Builder</a>
          </li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/destinations/round-malta-and-gozo-sail">7-Day Round Malta & Gozo Day Skipper Plus</a>
          </li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/destinations/round-malta-and-sicily-mile-builder">14-Day Round Malta & Sicily Mile Builder</a>
          </li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/destinations/greece-cyclades-island-hopping-sail">7-Day Island-hopping in Greek Cyclades</a>
          </li>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/destinations/greece-sicily-malta-mile-builder">10-Day Greece-Sicily-Malta Mile Builder</a>
          </li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://epicnavigator.com">Epic Navigator (Our Mile Builder Site)</a></li>

        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Yachtmaster</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="/courses/rya-yachtmaster-preparation-and-exam">RYA Yachtmaster Preparation and Exam</a>
          </li>
          <li>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="/courses/rya-yachtmaster-package">RYA Yachtmaster Package and Exam</a>
          </li>
          <li>
            <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/fastrack">RYA Yachtmaster Fast Track</a>
          </li>
        </ul>
      </li>


      <!-- <li class="nav-item">
        <a class="nav-link" href="/courses/rya-courses-family-sailing">Family Sailing</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="/charter-and-cruises">Charter</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/yachts">Charter</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/images/">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/faqs">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/contact">EN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">GR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">中文</a>
      </li> -->
      <li class="nav-item">
        <a id="navbar-rya-mobile" href="/login"><img src="/images/RYA-Training-Centre-New-Logo-White-No-Border.webp" alt="RYA Certified Training Center" class="btn navbar-book-now-button navbar-rya"></a>
      </li>
    </ul>
    </li>
    <!-- RYA Training Center logo -->
    <a id="navbar-rya-desktop" href="/login"><img src="/images/RYA-Training-Centre-New-Logo-White-No-Border.webp" alt="RYA Certified Training Center" class="navbar-rya"></a>
    <a class="btn btn-light box-shadow--3dp navbar-book-now-button--expand" style="white-space: nowrap; " href="/course-dates"><span class="navbar-book-now-button-text">BOOK NOW</span></a>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // document.querySelector(`.active`)?.classList?.remove('active');
    const link = document.querySelector(`.navbar-nav a[href*="${window.location.pathname}"]`);
    if (link) {
      if (document.querySelector('.dropdown-menu').contains(link)) {
        link.closest('.nav-item').querySelector('.nav-link').classList.add('active');;
      } else {
        link.classList.add('active');
      }
    }
  })
</script>