<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Failure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180261214-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-180261214-1');
  </script>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Payment Cancelled</h1>
      <br>
      <p class="lead">Please use credit/debit card to realize the payment or try again later. You have not be charged yet.</p>
      <br>
      <a href="/course-dates">
        <p>Select and book the right course >></p>
      </a>
      <a href="/shop/promotion">
        <p>Check the available promotions >></p>
      </a>
      <a href="/accommodation">
        <p>Check onboard accommodation >></p>
      </a>
      <a href="/images">
        <p>Go to gallery >></p>
      </a>
      <a href="/faqs">
        <p>Check FAQs >></p>
      </a>
      <a href="/">
        <p>Return to the home page >></p>
      </a>
    </div>
  </div>
</body>

</html>