
              <div class="row justify-content-center">
                <div class="col-6 col-sm-4 col-md-2 mb-5">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/home/greece-copie.jpg" class="img-fluid grayscale" alt="greece-club-of-yachting-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-5">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/home/social.png" class="img-fluid grayscale" alt="boat-around-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-5">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/yachting-world-logo.png" class="img-fluid grayscale" alt="yachting-world-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-5">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/classic-boat-logo.jpeg" class="img-fluid grayscale" alt="classic-boat-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-5">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/CA-logo.png" class="img-fluid grayscale" alt="CA-logo">
                  </div>
                </div>
                 <div class="col-6 col-sm-4 col-md-2 mb-5">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/home/mmksystems.com_Logo.jpg" class="img-fluid grayscale" alt="mmksystems-logo">
                  </div>
                </div>
                               <!-- <div class="col-6 col-sm-4 col-md-2 mb-3">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/home/400639525_842396737887683_7448615791191455866_n.png" class="img-fluid grayscale" alt="nausys-logo">
                  </div>
                </div> -->
              </div>