<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign-up Failure</title>
  <%- include("header-cdn")-%>  
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Upps... something went wrong</h2>
      <br>
      <p class="lead">Please try again later.</p>
      <br>
      <a href="/course-dates">
        <p>Select and book the right course >></p>
      </a>
      <a href="/shop/promotion">
        <p>Check the available promotions >></p>
      </a>
      <a href="/faqs">
        <p>Check FAQs >></p>
      </a>
      <a href="/">
        <p>Return to the home page >></p>
      </a>
    </div>
  </div>
</body>

</html>