<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign-up Successful!</title>
  <%- include("header-cdn")-%>
</head>

<body>
  <div class="jumbotron jumbotron-fluid bg-light-blue">
    <div class="container">
      <h2 class="display-4">Sign-up Successful!</h2>
      <br>
      <p class="lead">Your subscription to our Newsletter has been confirmed. You will receive our special offers and mile builder plans from time to time. Usually we just send once a month. If that bothers you, you can unsubscribe at the end of the newsletter.</p>
      <p class="lead">Thank you for joining our sailor community! We look forward to sailing with you in Greeece!</p>
      <%if(couponFound!=null && couponFound.expiration > new Date()) {%>
      <p class="lead">As a welcome gift, here you have a <b><%=couponFound.discount%>%</b> discount coupon code: <b><%=couponFound.coupon%></b>, for any course booking.</p>
      <p class="lead">Valid until <b><%=couponFound.expiration.toDateString()%></b></p>
      <%}%>
      <br>
      <a href="/course-dates">
        <p>Select and book the right course >></p>
      </a>
      <a href="/shop/promotion">
        <p>Check the available promotions >></p>
      </a>
      <a href="/faqs">
        <p>Check FAQs >></p>
      </a>
      <a href="/">
        <p>Return to the home page >></p>
      </a>
    </div>
  </div>
</body>

</html>