<!-- social media -->

<div class="social-media">
  <a href="https://www.facebook.com/Sailing-School-Malta-224360550908510/" target="_blank"><i class="social-media-icon fab fa-facebook"></i></a>
  <a href="https://www.instagram.com/sailingschoolmalta/" target="_blank"><i class="social-media-icon fab fa-instagram"></i></a>
  <a href="https://www.youtube.com/channel/UCiR_qYTXJGE8dfkWe7xDmiQ" target="_blank"><i class="social-media-icon fab fa-youtube"></i></a>
</div>