<% var currentCourse = courseProfileFound;%>
<% if (currentCourse){ %>
<i class="social-media-icon far fa-calendar-alt"></i>
<span><%= currentCourse?.duration%> days</span>

<i class="social-media-icon fas fa-euro-sign"></i>
<span><%= currentCourse?.price%></span>

<i class="social-media-icon fas fa-users"></i>
<span>Max <%= currentCourse?.capacity%> students</span>
<%}%>