<%- include("../partials/header"); -%>

<section>
  <!-- Cover image -->
  <div>
    <img src="/images/course-cover/course-cover-rya-online-courses.jpg" width="100%" class="top-image" alt="course-cover-rya-online-courses" />
  </div>

  <div class="container-fluid course-background">
    <div class="course-sheet">
      <!-- Course title -->
      <div class="course-title">
        <h1><b>RYA Online Theory Courses</b></h1>
        <p class="lead course-subtitle">
          You can have some demonstration to try before you buy. If you like to
          continue after trial, please proceed with payment by submitting the
          form. You will receive the log-in to online course, as well as a
          course package delivered to your provided address.
        </p>
        <p class="lead course-subtitle">
          We know that choosing whether to study in a conventional classroom
          environment or online is a big decision and we want all our students
          to be 100% satisfied with their choice, so we offer a 14-day money
          back guarantee.
        </p>
        <br />
        <a class="btn btn-info my-1" href="https://sailingschoolmalta.skippersonline.net/DemonstrationLessons/DaySkipperBuoyage/index.html">RYA Day Skipper Theory Online Demonstration</a>
        <a class="btn btn-info my-1" href="https://sailingschoolmalta.skippersonline.net/DemonstrationLessons/CSPilotage/index.html">RYA Coastal / Yachtmaster Theory Online Demonstration</a>
        <br /><br /><br />
      </div>

      <div class="row">
        <div class="col-md-8">
          <!-- booking form -->
          <div class="cognito">
            <script src="//services.cognitoforms.com/s/_v3XYwZuhEKPV1A7BmeoSw"></script>
            <script>
              Cognito.load("forms", {
                id: "184",
                entry: {
                  School: "SM",
                  Domain: "sailingschoolmalta",
                  URL: "https://sailingschoolmalta.skippersonline.net",
                  SchoolName: "Sailing School Malta",
                  SchoolEmail: "info@sailingschoolmalta.com",
                },
              });
            </script>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-left">
            <h3>What's included?</h3>
            <br />
            <li>14 lessons</li>
            <li>
              More than 30 quizzes and exercises that check your understanding
              of each topic
            </li>
            <li>
              1000s of 3D images, animations, videos, downloadable resources and
              external references
            </li>
            <li>Instructor Support 7 days a week</li>
            <li>12 months access</li>
            <li>Unlimited exam attempts</li>
            <li>
              RYA Course Completion Certificate when you've passed your exams
            </li>
            <li>2 RYA Training Charts</li>
            <li>The RYA Training Almanac</li>
            <li>Course Handbook</li>
            <li>
              Free 1st Class UK Delivery (+£10 for Europe, £40 outside Europe)
            </li>
            <li>Optional Plotter & Divider Kit (£28)</li>
            <br />
            <img src="/images/course-element/course-element-theory-pack.png" width="100%" alt="online-course-package" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include("../partials/footer")-%>