<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RYA Level 2 Powerboat Handling Course | Sailing School Malta</title>
  <meta name="description" content="Master powerboat skills in Malta with our RYA Level 2 Powerboat Handling course. Learn high-speed manoeuvres, close-quarters handling, safety drills, and confidence on the helm. Get your certificate in 2 days." />
  <meta name="keywords" content="RYA Level 2 Powerboat Handling, powerboat course Malta, RYA powerboat training, powerboat licence Malta, powerboat ICC course, malta nautical license, transport malta nautical license, international powerboat license" />
  <meta name="author" content="Sailing School Malta">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include("./header-common-part")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>

  </div>