<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RYA Competent Crew Course in Greece | Athena Yachting Academy </title>
  
  <!-- website description SEO -->
  <meta name="description" content="Join our 5-day RYA Competent Crew course in Greece — no prior experience required. Learn sail handling, ropework, navigation basics, and live aboard, with sunshine and diverse routes." />  
  <meta name="keywords" content="RYA Competent Crew Greece, competent crew course, beginner sailing Greece, RYA sailing course, sailing course Greece, learn sailing Greece, sail training Greeece" />

  <%- include("../header-cdn")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>

  </div>