<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
<!-- Primary Meta Tags -->
  <title>RYA Day Skipper Fast Track Course | Sailing School Malta</title>
  <meta name="description" content="Accelerate your sailing skills with our RYA Day Skipper Fast Track in Malta. Complete theory, practical course & VHF in three immersive weeks—ideal for beginners." />
  <meta name="keywords" content="RYA Day Skipper Fast Track, Day Skipper course Malta, fast track sailing course, beginner sailing course, day skipper, quick skipper course, Malta sailing school" />
  <meta name="author" content="Sailing School Malta">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include("./header-common-part")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>

  </div>