<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RYA Day Skipper Course in Greece | Athena Yachting Academy </title>

  <!-- website description SEO -->
  <meta name="description" content="Learn skipper skills with our 5-day RYA Day Skipper Practical course in Greece. Gain confidence in navigation, passage planning, boat handling and night sailing. With day skipper ceritificate you can start chartering." />
  <meta name="keywords" content="RYA Day Skipper Practical, Day Skipper course in Greece, skipper training Greece, practical sailing course, learn sailing Greece, Greece sailing course" />

  <%- include("../header-cdn")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>

  </div>