<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RYA Yachtmaster Prep Course & Exam in Malta | 7-Day Running Every Month</title>

  <!-- website description SEO -->
  <meta name="description" content="Join our intensive RYA Yachtmaster Preparation Course and Exam in Malta. Course runs every month. 5day practical course plus 2-day exam. Train aboard on a fully equipped sailing yacht with expert RYA instructors. RYA YM Offshore & Coastal certifications available.">
  <meta name="keywords" content="RYA yachtmaster exam, RYA Yachtmaster course and exam, Yachtmaster Prep Course, Yachtmaster Offshore Malta, Yachtmaster Exam, Yachtmaster Coastal, Sailing School Malta, RYA Exams Malta, Yachtmaster training, RYA Certificate of Competence, skipper training Malta, sailing courses Malta">
  <meta name="author" content="Sailing School Malta">
  <meta name="viewport" content="width=device-width, initial-scale=1">

      <%- include("./header-common-part")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>

  </div>