<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RYA Start Yachting Course | Sailing Experiences in Malta</title>

  <!-- website description SEO -->
  <meta name="description" content="Experience yacht sailing for the first time with our 2‑day RYA Start Yachting course in Malta. Learn steering, sail handling, ropework, and safety under expert instruction. No experience needed!">
  <meta name="keywords" content="RYA Start Yachting, start yachting course, sailing experience malta, beginner sailing course, learn sailing malta, malta sailing course, sail cruising introduction, Malta sailing lessons, RYA courses Malta, yacht handling beginners">
  <meta name="author" content="Sailing School Malta">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include("./header-common-part")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>

  </div>