<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RYA Start Yachting in Greece | Athena Yachting Academy </title>

  <!-- website description SEO -->
  <meta name="description" content="Experience yacht sailing for the first time with our 2‑day RYA Start Yachting course in Greece. Learn steering, sail handling, ropework, and safety under expert instruction. No experience needed!">
  <meta name="keywords" content="RYA Start Yachting, start yachting course, sailing experience greece, beginner sailing course, learn sailing greece, greece sailing course, sail cruising introduction, greece sailing lessons, RYA courses Greece">

  <%- include("../header-cdn")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>
    
  </div>