<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<title>RYA Level 1 Powerboating Course | Sailing School Malta</title>
<meta name="description" content="Experience your first powerboat adventure in Malta with our RYA Level 1 Powerboating course. Ideal for beginners—learn safety, boat handling, and helm confidence in just one day." />
<meta name="keywords" content="RYA Level 1 Powerboating, beginner powerboat course Malta, powerboat training Malta, RYA powerboat beginners, Sailing School Malta powerboat" />
<meta name="author" content="Sailing School Malta">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include("./header-common-part")-%>

</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300">

  <!-- Navigation Bar -->

  <div class="fixed-top navbar-wrapper">

    <%- include("../nav")-%>

  </div>