<%-include("partials/header")-%>
<div class="not-found-page-wrapper">
    <div class="container not-found-page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <h2>Your boat is elsewhere</h2>
                    <h2 >
                        Requested page is not found!
                    </h2 >
                    <div class="error-actions">
                        <a href="/" class="btn btn-warning box-shadow--3dp">Take Me Home </a>
                        <a href="/contact#enquiry-form" class="btn btn-default not-found-page-support">Contact Support </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <%- include("partials/footer"); -%>