<%-include("partials/header")-%>

<!-- Promotions -->

<div class="about-us-hiring">
  <a class="btn btn-warning" href="/files/7a805c77cd1930aea5083ca982be4580.pdf">Internship Program</a>
</div>

<!-- about us -->


<!-- top image -->
<div class="about-us-main-wrapper">
  <img src="/images/about-us/about-us-cover-child-sailing.png" class="top-image" width="100%" alt="about-us-cover-child-sailing">
  <div class="about-us-btns-wrapper">
    <a href="/files/7895bd2cc3bdacd1949e28e7d06d9b29.pdf" class="about-us-btn-wrapper">
      <button class="about-us-btn">School Presentation </button>
    </a>
    <a href="/files/004e37fe2fd915202a555844624ef922.pdf" class="about-us-btn-wrapper">
      <button class="about-us-btn">Brochure </button>
    </a>
  </div>

</div>

<!-- about-us-background -->
<div class="container-fluid about-us-background">

  <div class="row">
    <!-- about us -->
    <div class="col-lg-8">
      <div class="about-us-wrapper">
        <h1>About us</h1>
        <br>
        <P class="lead about-us-text">Established in 2012, we are a leading Royal Yachting Association recognised sea school in Malta running almost all the RYA courses up to Yachtmaster Ocean. This includes sailing and motor skipper, powerboat and jetski courses,
          for both recreational sailors and commercial skippers. We also run skipper refresher or mile builder sailing, plus own boat tuition from our base in Malta.</p>
        <P class="lead about-us-text">Also available are the full range of shore based theory and specialist RYA courses, needed in many cases to complete the criteria for certificates of competence.</p>
        <P class="lead about-us-text">As well as the RYA courses, we also run the local Malta Nautical Licence courses approved by Transport Malta. This is a mandatory requirement for any Maltese National, and those with residency permits.</p>
        <P class="lead about-us-text">Our boats are based in and around the Valletta, a magnificent and historical area that for centuries dominated the whole Mediterranean. Enjoying warm weather all year round and with plenty of places to sail to, including Italy, Croatia, Montenegro, Spain, Morocco, Tunisia, Portugal. You don't need to sail in the cold and wet. Malta is an island with a rich history, culture, and good connections to many of Europe’s air hubs.
        </p>
        <p class="lead about-us-text">At Sailing School Malta, all of our instructors are highly qualified with a wealth of local knowledge to navigate and teach practical courses around the Maltese islands. We are passionate about crew training and we’d love to teach you whether you’re a beginner – embarking on your new adventure – or an experienced professional looking to top-up your skills; you can be assured we have the correct course to meet your needs.</p>
        <p class="lead about-us-text">We would like to extend our all-year-round warm welcome to you. Together, we will not only hone your new skills but also provide an unforgettable experience of pleasure and enjoyment for you!</p>
        <p class="lead about-us-text"> Yours sincerely,</p>
        <br>
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <p class="lead about-us-text">Stephen Baynham</p>
            <p class="lead about-us-text">Principal & Chief Instructor</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="rya-logo-about-us" src="/images/rya_training_centre_with_check_logo.png" alt="rya_training_centre_with_check_logo">
            <img class="TM-logo-about-us" src="/images/TM_Logo.png" alt="TM_Logo">
          </div>
        </div>
        <hr>
            <div class="container py-3 text-center ">
              <h2 class="font-weight-bold mb-5">We are referred by</h2>
              <div class="row justify-content-center">
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/times-malta-logo.jpg" class="img-fluid grayscale" alt="times-malta-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/visit-malta-logo.png" class="img-fluid grayscale" alt="visit-malta-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/RMYC-logo.webp" class="img-fluid grayscale" alt="RMYC-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/yachting-world-logo.png" class="img-fluid grayscale" alt="yachting-world-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/classic-boat-logo.jpeg" class="img-fluid grayscale" alt="classic-boat-logo">
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                  <div class="border rounded p-3 h-100 d-flex align-items-center justify-content-center">
                    <img src="/images/mile-builder/CA-logo.png" class="img-fluid grayscale" alt="CA-logo">
                  </div>
                </div>
              </div>
            </div>
      </div>

        
            

    </div>
    <!-- Key milestones and sponsors-->
    <div class="col-lg-4">

      <div class="mileage-trips-sponsors">
        <!-- <h2 class="h1-seo-replace">Key Milestones</h2>
        <br>
        <ul class="milestone">
          <p class="lead">
            <li class="lead">2012: Establishment</li>
          </p>
          <p class="lead">
            <li class="lead">2015: Acquisition of the second boat</li>
          </p>
          <p class="lead">
            <li class="lead">2020: Launch of the new MERN Stack website</li>
          </p>
          <p class="lead">
            <li class="lead">2022: Over 500 students per year</li>
          </p>
          <p class="lead">
            <li class="lead">2023: "Seawolf" joined the fleet</li>
          </p>
        </ul> -->
                <h2 class="h1-seo-replace">📢 Sailing Instructors Needed </h2>
        <br>
        <b>
          <p class="lead"> 
            We at Sailing School Malta are deploying a second boat for sail training from Mid-September 2025, and are therefore looking for a bank of instructors for periods of at least three weeks at a time, with the option to be full time.
            The boats are Bavaria 44 & 46. One boat will concentrate on RYA courses, the other mile builders (destinations: Sicily, Greece, Mallorca, Sardinia, etc), YM prep weeks, and skippered charter. If you are interested in coming to Malta, please <a href="mailto:info@sailingschoolmalta.com""><u>let us know</u></a> your availability.
          </p>
          <p class="lead">Notice last updated: 10 June 2025</p>
        </b>
        <hr>
        <h2 class="h1-seo-replace">Sponsors</h2>
        <br>
        <P class="lead">Would you be interested in becoming a sponsor?</p>
        <p class='lead'>We are always looking for new partners to support the school, and can provide a range of returns, including branding on boats, sails and crew clothing, corporate activities on our yachts, participation at major events
          such
          as the Rolex Middle Sea Race Week and Round the Island race.</p>
        <p class="lead">If you have any ideas of how we can collaborate for mutual interest, please let us know.</p>
        <img src="/images/about-us/about-us-sponsor.jpg" width="100%" alt="about-us-sponsor">
      </div>

    </div>
  </div>

  <!-- The team -->
  <div id="team">

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-stephen-baynham.jpg" class="profile-image" alt="about-us-stephen-baynham" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Stephen <span>Baynham<a href="https://www.linkedin.com/in/stephen-baynham-b7778529/"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">Chef Instructor of RYA Sail Practical, Motor Cruising Practical and Shorebased Courses</h6>
            <h6 class="mb-3">Founder and Principal of Sailing School Malta</h6>
            <p class="lead text-justify">Born in Malaya, he served in the British Army and later worked in insurance and computer sector as an entrepreneur in Munich, Germany. He began sailing at age of 10 and has abundant sail experience over the global waters. Stephen started teaching sailing back in 2001 in Australia and then in Croatia and Canary Islands before he established Sailing School Malta. </p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-Yixin-Qi.jpg" class="profile-image" alt="about-us-Yixin-Qi" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Yixin Qi <span><a href="https://www.linkedin.com/in/yixin-qi-9ba25872/"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">Web Design & Development, Sales & Marketing, Booking & Revenue Manager</h6>
            <p class="lead text-justify">Born in Shanghai, Yixin is an entrepreneur and investor in IT. He learnt sailing with Stephen and got his coastal skipper licence in Sailing School Malta. Now he is building miles toward Yachtmaster. Combining his passion in web/app dev and sailing, he designed and developed school's website and manages course bookings remotely. He hold a Bachelor degree in naval architecture & marine engineering and Master in Yacht Design from Polimi. <a href="mailto:yixin@sailingschoolmalta.com"><u>Contact him</u></a> if you are looking for an internship, for boat charter, and for any collaboration.</p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-neil-morris.jpeg" class="profile-image" alt="about-us-Neil-Morris" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Neil Morris<span><a href="https://www.linkedin.com/in/neil-morris-0007aa8?originalSubdomain=uk"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">RYA Yachtmaster Sail Instructor, Sail RYA Advanced Power Boat Instructor, RYA YM Offshore Power Instructor</h6>
            <p class="lead text-justify">Having learnt to sail at the age of 12 Neil has always been a passionate sailor and power boat enthusiast. With experience in the Middle East, Caribbean, Mediterranean and home base the South Coast U.K. Neil has a passion for coaching and mentoring new entrants to the sport as well as developing skills of more established sailors. Neil has extensive experience both cruising and racing in tidal and non tidal waters. He looks forward to welcoming you on board at Sea School Malta whether it be your next course or an adventure sail mile builder.</p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-dieter-kuhlmann.jpeg" class="profile-image" alt="about-us-dieter-kuhlmnan" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Dieter <span>Kuhlmann<a href="https://za.linkedin.com/in/dieter-kuhlmann-70a20b57"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">RYA Yachtmaster Instructor, RYA Powerboat Instructor, RYA Shorebased Courses Instructor</h6>
            <p class="lead text-justify">Captain Dieter Kuhlmann is a seasoned maritime professional with over 15 years’ experience commanding sailing and motor yachts across the Atlantic, Pacific, and Indian Oceans. A dual South African–German national and commercially endorsed Yachtmaster Offshore and Instructor, he combines technical expertise with a passion for delivering safe, seamless voyages and unforgettable guest experiences. From charter operations in the Caribbean, Southeast Asia and Mediterranean to vessel deliveries between continents and competing in prestigious regattas, Dieter has proven himself a skilled leader, problem-solver, and mentor. Equally dedicated to teaching, he offers bespoke training for yacht owners and crews, enhancing confidence, professionalism, and safety at sea.</p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-simon-bradburn.jpg" class="profile-image" alt="about-us-Simon-Bradburni" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Simon <span>Bradburn<a href="https://www.linkedin.com/in/simon-bradburn-34b58a35/"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">RYA Powerboat and Jetski Instructor | Dive Master</h6>
            <p class="lead text-justify">Simon's career has covered a wide spectrum of marine work including boat deliveries, training and charter work. As a result of this diversity he takes a very practical approach to teaching and problem solving. By combining his electronic and mechanical engineering skills to his marine background, he is able to apply himself to a wide range of applications.</p>
          </div>
        </div>
      </div>
    </div>


  <br>


            <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-kevin-harris.png" class="profile-image" alt="about-us-kevin-harris" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Kevin <span>Harris<a href="https://uk.linkedin.com/in/kevin-harris-149434"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">RYA Cruising Instructor, RYA Powerboat & safety boat instructor</h6>
            <p class="lead text-justify">Kevin Harris is a dual British–Irish RYA Yachtmaster Offshore (Commercially Endorsed) and Cruising Instructor with over 200,000 nautical miles and four decades of sailing experience worldwide. Having raced, taught, and completed a 10-year circumnavigation aboard his own yacht, Kevin brings a wealth of real-world knowledge to every course.
He has sailed extensively across the Atlantic, Pacific, and Indian Oceans, as well as in the Mediterranean, Caribbean, Southeast Asia, and Northern Europe. Known for his calm, structured, and safety-focused approach, Kevin helps sailors build both skill and confidence at sea.</p>
          </div>
        </div>
      </div>
    </div>


        <br>

        <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-Mathew-Aris.jpg" class="profile-image" alt="about-us-Mathew-Aris" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Mathew Aris <span><a href="#"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">RYA Sail Cruising Instructor</h6>
            <p class="lead text-justify">Matthew first started sailing at 16 and had completed the first of his 10 Atlantic trips when he was 17. Since then he has worked as a delivery skipper and as an RYA qualified cruising and power boat instructor across the South coast of England and Malta for the past 10 years.</p>
          </div>
        </div>
      </div>
    </div>

    <br>


    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/about-us-andrew-pascoots.jpg" class="profile-image" alt="about-us-Andrew-Pascoots" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Andrew <span>Pascoots<a href=""><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="mb-1">RYA Yachtmaster Instructor</h6>
            <p class="lead text-justify">Andrew’s sailing journey began at the age of 6 when he built and sailed an Altoro dinghy with his father. Since then, his passion for sailing has only grown, leading him to compete in nine Fastnet Races, including the 2023 edition on his own NA40 yacht. With over 20 years of experience as an RYA instructor and extensive time as a Yachtmaster Instructor, he specializes in both cruising and racing techniques.
              Passionate about the tactical, trimming, and navigational aspects of sailing, Andrew brings a patient and structured approach to teaching. His ethos is simple: start with the basics, build confidence step by step, and create a calm, respectful learning environment—with plenty of tea along the way!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
    <div class="about-us" style="position: relative;">
      <img src="/images/about-us/intern.jpg" class="about-us-intern about-us-intern-shown" alt="about-us-intern" width="352px">
      <h2>Feedback from Our Intern</h2>
      <div>
        <img src="/images/about-us/intern.jpg" class="about-us-intern about-us-intern-hidden" alt="about-us-intern" width="352px">
        <div style="position: relative;">
          <div class="intern-text" style="position: relative;">
            <p class="lead about-us-text">"Currently in the third year of a tourism and nautical activities license in France, I did my three-month internship at Sailing School Malta. </p>
            <p class="lead about-us-text">The activities of the internship were divided into two parts: the first being the learning of sailing navigation with the aim of becoming a skipper and the second was based on digital marketing, the development of sales, business and finally the improvement of the website and social networks.</p>
            <p class="lead about-us-text">I would like to thank Yixin, my internship supervisor, who accompanied and guided me throughout these three months. </p>
            <span onclick="myFunction()" class="about-us__read-more">Read more</span>
            <span id="more">
              <p class="lead about-us-text">I was able to develop my knowledge and skills in the areas mentioned above, he was able to guide me in the various tasks that I carried out: making presentations for the sailing school, market analysis, development of social networks and many more. </p>
              <p class="lead about-us-text">Thanks to Stephen, for accepting me for an internship and integrating me into the company. Thanks to him I was able to learn the theoretical bases of sailing, despite the fact that I was a complete beginner.</p>
              <p class="lead about-us-text">I would like to thank Matthew Aris with whom I had the opportunity to learn sailing during numerous sea trips. I was able to train myself in the profession of skipper, but also to meet many students from all over the world. These experiences were very formative for me, both on the human aspect and for navigation. </p>
              <p class="lead about-us-text">The main difficulty of this course was for me learning English, especially with regard to technical terms and vocabulary specific to sailing. During these three months I was able to improve my level of English and be more comfortable both orally and in writing. I also learned a lot of things in the field of digital marketing and web development. These achievements will be useful to me for the continuation of my studies and for the outcome of my professional project.</p>
              <p class="lead about-us-text">Despite the difficulties I had to face, I only get positive points from this internship. It's a life experience that made me grow and learn about myself."</p>
              <p class="lead about-us-text">Pierre Gloannec</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
 
<!-- Boat Owners -->
    <div id="boatowners" class="about-us-wrapper my-2 mb-5">
          <h2><b>Boat Owners – Partner With Us</b></h2>

        <img src="" alt="">
          <br>
          <p class="lead"><em><b>Would you like to earn from your yacht without the hassle?</b></em></p>
          
          <p class="lead">
          We’re expanding our skippered yacht charter operations in Malta and are actively looking for boats (both sail and power) to add to our fleet. 
          </p>
          <p class="lead">
          In the short term, we are looking for a suitable motor yacht to carry out RYA motor cruising course. Ideally twin-engines, range would be between 10–15 metres (35–50 ft).
          </p>
          <p class="lead">
          Thanks to our in-house web dev team and digital marketing team, Sailing School Malta website always ranks among the top 1 or top 2 results for searches like <strong>“Sailing Malta”</strong>, <strong>“Malta Sailing”</strong>, <strong>"sailing course Malta”</strong>, <strong>"sailing adventures Malta”</strong>, and <strong>“Skippered Charter Malta”</strong> on Google. Our site, students sailor community, social media channels receive frequent booking and charter enquiries—giving your boat maximum visibility.
          </p>
          <p class="lead">
          If you’d like a reliable partner to manage bookings and take care of your yacht’s maintenance locally, we’d love to hear from you. Whether you're seeking occasional charters or full-season exposure, we offer flexible options.
          </p>
          <p class="lead">
          Additionally, our RYA students often request onboard accommodation. Since our own fleet fills up quickly, we’re looking to collaborate with other owners to offer more berths to meet this demand.
          </p> 
                        <div class="course-bottom-buttons mt-5 ">
              <a class="btn btn-outline-dark course-four-bottom" target="_blank" rel="noopener noreferrer" href="/contact#enquiry-form" role="button">Contact us &raquo;</a>
              </div>
         
          <!-- <img src="/images/charter-and-cruises/charter-and-cruises-ship-owners.jpg" width="100%" alt=" charter-and-cruises-ship-owners"> -->
        </div>

</div>

<!-- Employment Notice Modal -->
<!-- <div id="employmentModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal()">&times;</span>
    <h2>📢 Sailing Instructors Needed</h2>
    <p class="lead">We at Sailing School Malta are deploying a second boat for sail training from Mid-September 2025, and are therefore looking for a bank of instructors for periods of at least three weeks at a time, with the option to be full time.</p>
    <p class="lead">The boats are Bavaria 44 & 46. One boat will concentrate on RYA courses, the other mile builders (destinations: Sicily, Greece, Mallorca, Sardinia, etc), YM prep weeks, and skippered charter. If you are interested in coming to Malta, please <a href="mailto:info@sailingschoolmalta.com"><u>let us know</u></a> your availability.</p>
    <p class="lead">Notice last updated: 10 June 2025</p>
  </div>
</div> -->

<!-- <script>
  // Automatically open modal on page load
  window.addEventListener('DOMContentLoaded', () => {
    document.getElementById('employmentModal').style.display = 'flex';
  });

  function closeModal() {
    document.getElementById('employmentModal').style.display = 'none';
  }
</script> -->

<script>
  const aboutUsHiring = document.querySelector('.about-us-hiring');
  const navbarWrapper = document.querySelector('.navbar-wrapper');
  navbarWrapper.after(aboutUsHiring);
  $('.navbar-wrapper').append(aboutUsHiring);
  aboutUsHiring.style.position = 'relative';

  function myFunction() {
    var readMore = document.querySelector(".about-us__read-more");
    var moreText = document.getElementById("more");
    document.querySelector(".about-us").style.height = 'auto';
    if (readMore.style.display === "none") {
      readMore.style.display = "inline";
      moreText.style.display = "none";
    } else {
      readMore.style.display = "none";
      moreText.style.display = "inline";
    }
  }
</script>

<%-include("partials/footer")-%>