<%-include("partials/header")-%>

<!-- Promotions -->

<div class="about-us-hiring">
  <a class="btn btn-light" href="/files/7a805c77cd1930aea5083ca982be4580.pdf">Career Opportunities</a>
</div>

<!-- about us -->


<!-- top image -->
<div class="about-us-main-wrapper">
  <img src="/images/about-us/imgi_4_iStock-1406679249.jpg" class="top-image" width="100%" alt="about-us-cover-child-sailing">
  <div class="about-us-btns-wrapper">
    <a href="/files/7895bd2cc3bdacd1949e28e7d06d9b29.pdf" class="about-us-btn-wrapper">
      <button class="about-us-btn">School Presentation </button>
    </a>
    <a href="/files/004e37fe2fd915202a555844624ef922.pdf" class="about-us-btn-wrapper">
      <button class="about-us-btn">Brochure </button>
    </a>
  </div>

</div>

<!-- about-us-background -->
<div class="container-fluid about-us-background">

  <div class="row">

    <!-- about us -->
    <div class="col-lg-8">
      <div class="about-us-wrapper">
        <h1 class="about-us-title">About AYA</h1>
        <br>
        <P class="lead">Founded by a team of international professionals who traded corporate success for the open sea, Aegean Yachting Academy (AYA) brings a new wave of energy and excellence to RYA sailing education in Greece. </p>
        <p class="lead">After thriving in global management roles across France, the UK, Spain and China, our founders chose Greece as the perfect place to merge their passion for sailing with a vision to connect people and cultures through the sea — inspired by Greece’s legendary waters, timeless maritime heritage, and stragetic location in the Med.</p>
        <p class="lead">AYA was created not only to offer world-class training in one of the world’s most beautiful sailing destinations, but also to serve as a bridge between Asia and Europe — introducing more aspiring sailors from the East to the freedom, adventure, and refinement of Mediterranean yachting.</p>
        <p class="lead">At AYA, our strength lies in our people. Led by RYA Yachtmaster Instructors with decades of experience and supported by experts in marine engineering and yacht maintenance, our team combines technical excellence with true passion for the sea. With deep local knowledge of the Greek islands — from the calm waters of the Saronic to the wild beauty of the Cyclades and the tranquil Ionian — they turn every course into a journey of discovery.</p>
        <P class="lead">We offer a comprehensive range of RYA courses — from Competent Crew, Day Skipper, and Coastal Skipper to Yachtmaster qualifications — along with mile-building voyages designed to develop real offshore experience and confidence. Whether you are a complete beginner or a seasoned sailor looking to refine your skills, our programs combine structured learning with authentic Aegean adventure.
        <p class="lead">Every course at AYA is built around one goal: to help you become not just certified, but confident — a true sailor who understands the sea. With small-group instruction, modern yachts, and personalized attention, we ensure every student enjoys the highest quality of training and a memorable experience in Greece’s sunlit waters.</p>
        <p class="lead">We look forward to welcoming you aboard — not just to learn, but to live the true spirit of sailing. With AYA, you’ll sharpen your skills, meet like-minded sailors, and experience the joy and freedom.</p>
        <p class="lead">Yours sincerely,</p>
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <p class="lead">Athena the Wisdom</p>
            <p class="lead">Principal & Chief Instructor</p>
          </div>
          <div class="col-lg-6 col-md-12">
            <img class="rya-logo-about-us" src="/images/rya_training_centre_with_check_logo.png" alt="rya_training_centre_with_check_logo">
            <img class="AYA-logo-about-us" src="/images/aya_logo_horizontal.png" alt="AYA_Logo">
          </div>
        </div>
        <hr>
            <div class="container py-3 text-center ">
              <h2 class="font-weight-bold mb-5">We are referred by</h2>
                <%-include("./partials/referal")-%>
            </div>
      </div>
    </div>

    <!-- Key milestones and sponsors-->
    <div class="col-lg-4">

      <div class="mileage-trips-sponsors">
        <h2 class="h1-seo-replace">Be part of our team</h2>
        <br>
          <p class="lead">
          At AYA, we’re always looking for skilled and passionate instructors and experts in related fields to join our team. If you have strong experience and a genuine love for yachting, we’d love to hear from you. 
          <p class="lead">Whether your expertise lies in sailing, motorboats, or related fields, you’re welcome to send us your application anytime. We value diverse backgrounds and fresh perspectives that enrich our mission of delivering world-class yachting education.
          </p>
        <hr>
          <h2 class="h1-seo-replace">Join us 🩵</h2>
        <br>
          <p class="lead">
          If you believe you have the skills and experience to be an exceptional instructor in AYA, we’d love to hear from you — send us your CV and a few words about why you’d be a great fit and why you would be a valuable addition to our team. Join <strong>AYA</strong> and help us create exceptional learning experiences for our students!  
          </p>
          <p class="lead">
          Please submit your CV to <a href="mailto:info@athenayachtingacademy.com"><u>info@athenayachtingacademy.com</u></a> and we’ll get back to you as soon as possible.
          </p>

        <hr>
        <h2 class="h1-seo-replace">Be our partner 🏆</h2>
        <br>
        <P class="lead">Would you be interested in becoming a sponsor or partner for sail races and events?</p>
        <p class='lead'>We are always looking for new partners to support the school growth. If you have any ideas of how we can collaborate for mutual interest, please let us know.</p>
        <img src="/images/about-us/about-us-sponsor.jpg" width="100%" style="border-radius: 5px 5px 5px 5px;" alt="about-us-sponsor">
      </div>

    </div>
  </div>

  <!-- The team -->
  <div id="team">

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/marble-outdoor-athena-statue.png" class="profile-image" alt="about-us-athena" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Athena <span>Goddess<a href=""><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="about-us-team-title mb-1">Chief Instructor, Commercially endorsed RYA Yachtmaster Ocean (Power and Sail)</h6>
            <h6 class="about-us-team-title mb-3">RYA Yachtmaster Instructor, RYA Advanced Power Boat Instructor, RYA Shore-based Navigation Instructor</h6>
            <p class="lead text-justify">
              With many years at sea and the school always in her heart, <strong>Athena</strong>, our RYA expert, leads and mentors AYA’s team of instructors with enthusiasm and dedication. Her sailing journey began at the age of six, when she built and sailed her first dinghy with her father — a moment that sparked a lifelong passion for the sea. Since then, Athena has sailed extensively across the Middle East, Caribbean, UK, and her home waters of Athens, competing in major offshore races. With over 20 years of experience as an RYA instructor and Yachtmaster Instructor, she specializes in both cruising and racing techniques. Known for her calm, structured, and encouraging teaching style — always led with her trademark smile and “happy days” spirit.
            </p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/IMG_9359.PNG" class="profile-image" alt="about-us-cyril-ducange" width="100%">
          <!-- <img src="/images/about-us/Screenshot 2025-10-18 at 20.18.44.png" class="profile-image" alt="about-us-stephen-baynham" width="100%"> -->
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Cyril <span>Duchange<a href="https://uk.linkedin.com/in/cyril-duchange-93253a36"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="about-us-team-title mb-3">Principal and co-founder</h6>
            <p class="lead text-justify">
            Cyril is the driving force and creative mind behind the company’s vision. With over a decade of international leadership experience across Asia and Europe, Cyril brings a unique blend of strategic thinking, innovation, and entrepreneurial energy to AYA. Formerly the <strong>International Retail Director at Pull & Bear</strong>, he oversaw operations in key European markets including the UK, Germany, Sweden, and the Netherlands, and led multicultural teams across Asia, opening new markets and developing global strategies that bridged East and West. Now based in Greece, Cyril channels his global business acumen and lifelong passion for sailing into building AYA as a premier RYA training centre. Guided by his personal motto, <em>“The only limit is the one you set yourself,”</em> he continues to push boundaries and craft unforgettable sailing experiences for every student and guest.  
            </p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/IMG_9358.PNG" class="profile-image" alt="about-us-daisy-yan" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Daisy <span>Yan<a href="https://uk.linkedin.com/in/daisy-yan-35565563?"><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <!-- <h6 class="mb-1">Chef Instructor of RYA Sail Practical, Motor Cruising Practical and Shorebased Courses</h6> -->
            <h6 class="about-us-team-title mb-3">Manager and co-founder</h6>
              <p class="lead text-justify">
              Daisy brings over a decade of international leadership experience from <strong>Apple</strong> and <strong>Inditex</strong> to the world of sailing education. Having worked across <strong>Beijing, Shanghai, and London</strong> as Senior Manager, Retail Programs Leader, and Area Manager, Daisy has mastered the art of building teams, delivering excellence, and creating customer experiences that inspire loyalty. At AYA, she channels this expertise into ensuring that every student receives world-class support both on and off the water. As the main force connecting Asia and Europe, Daisy leads AYA’s efforts to welcome students from China and beyond, nurturing long-term relationships and ensuring every journey is smooth, personal, and unforgettable. Her attention to detail, operational mastery, and genuine care for people make her the steady wind behind AYA’s success.
              </p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card profile-card">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/IMG_9361.PNG" class="profile-image" alt="about-us-Yixin-Qi" width="100%">
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
            <h2 class="my-3">Hiroki Miyazato <span><a href=""><i class="social-media-icon fab fa-linkedin"></i></a></h2>
            <h6 class="about-us-team-title mb-3">Booking manager and co-founder</h6>
            <p class="lead text-justify">Hiroki is a passionate entrepreneur, software developer, and sailing enthusiast whose unique blend of technical expertise and maritime passion brings innovation to <strong>Athena Yachting Academy (AYA)</strong>. With a background in IT and digital product design, Hiroki has spent years developing sophisticated web and app solutions for global clients. Beyond his professional career, he is also an avid sailor and yacht designer, blending creativity with engineering precision. At AYA, Hiroki is the architect behind the academy’s digital presence — designing and building the school’s website, managing marketing automation, course bookings, and customer communications — all while working remotely from his own sailing yacht. </p>
          </div>
        </div>
      </div>
    </div>

    

  </div>
  <div>
    <div class="about-us" style="position: relative;">
      <img src="/images/about-us/IMG_9362.jpg" class="about-us-intern about-us-intern-shown" alt="about-us-intern" width="352px">
      <h2 class="h1-seo-replace">Feedback from Intern</h2>
      <div>
        <img src="/images/about-us/IMG_9362.jpg" class="about-us-intern about-us-intern-hidden" alt="about-us-intern" width="352px">
        <div style="position: relative;">
          <div class="intern-text" style="position: relative;">
            <p class="lead">"Currently in the third year of a tourism and nautical activities license in France, I did my three-month internship at Athena Yachting Academy.</p>
            <p class="lead">The activities of the internship were divided into two parts: the first being the learning of sailing navigation with the aim of becoming a skipper and the second was based on digital marketing, the business development, and finally the improvement of the website and social media.</p>
            <p class="lead">I would like to thank Daisy, my internship supervisor, who accompanied and guided me throughout these three months. 
            I was able to develop my knowledge and skills in the areas mentioned above, she was able to guide me in the various tasks that I carried out: making presentations for the school, market analysis, development of social networks and many more. </p>
            <span onclick="myFunction()" class="about-us__read-more lead">Read more</span>
            <span id="more">
            <p class="lead">Thanks to Cyril, for accepting me for an internship and integrating me into the company. Thanks to him I was able to learn the theoretical bases of sailing, despite the fact that I was a complete beginner.</p>
            <p class="lead">I would like to thank Athena with whom I had the opportunity to learn sailing during numerous sea trips. I was able to train myself in the profession of skipper, but also to meet many students from all over the world. These experiences were very formative for me, both on the human aspect and for navigation. </p>
            <p class="lead">The main difficulty of this course was for me learning English, especially with regard to technical terms and vocabulary specific to sailing. During these three months I was able to improve my level of English and be more comfortable both orally and in writing. I also learned a lot of things in the field of digital marketing and web development. These achievements will be useful to me for the continuation of my studies and for the outcome of my professional project.</p>
            <p class="lead">Despite the difficulties I had to face, I only get positive points from this internship. It's a life experience that made me grow and learn about myself."</p>
            <p class="lead">Anna Gloannec</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
 
<!-- Boat Owners -->

    <div id="boatowners" class="card profile-card">
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
          <div class="card-body profile-text">
          <h2 class="h1-seo-replace">Boat Owners – Partner with us</h2>
          <img src="" alt="">
          <br>
          <p class="lead"><b>Would you like to earn from your yacht without hassle?</b></p>
          <p class="lead">
          We’re expanding our charter business in Greece and are actively looking for boats to add to our fleet. 
          </p>
          <p class="lead">
          If you’d like a reliable partner to manage bookings and take care of your yacht locally, we’d love to hear from you. Whether you're seeking occasional charters or full-season exposure, we offer flexible options.
          </p>          
        </div>
      </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
          <img src="/images/about-us/imgi_10_iStock-1391637314__1_.jpg" class="profile-image" alt="about-us-Yixin-Qi" width="100%">
        </div>
      </div>
    </div>
    <br><br>





</div>
<!-- Employment Notice Modal -->
<!-- <div id="employmentModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal()">&times;</span>
    <h2>📢 Sailing Instructors Needed</h2>
    <p class="lead">We at Sailing School Malta are deploying a second boat for sail training from Mid-September 2025, and are therefore looking for a bank of instructors for periods of at least three weeks at a time, with the option to be full time.</p>
    <p class="lead">The boats are Bavaria 44 & 46. One boat will concentrate on RYA courses, the other mile builders (destinations: Sicily, Greece, Mallorca, Sardinia, etc), YM prep weeks, and skippered charter. If you are interested in coming to Malta, please <a href="mailto:info@sailingschoolmalta.com"><u>let us know</u></a> your availability.</p>
    <p class="lead">Notice last updated: 10 June 2025</p>
  </div>
</div> -->

<script>
  // Automatically open modal on page load
  window.addEventListener('DOMContentLoaded', () => {
    document.getElementById('employmentModal').style.display = 'flex';
  });

  function closeModal() {
    document.getElementById('employmentModal').style.display = 'none';
  }
</script>

<script>
  const aboutUsHiring = document.querySelector('.about-us-hiring');
  const navbarWrapper = document.querySelector('.navbar-wrapper');
  navbarWrapper.after(aboutUsHiring);
  $('.navbar-wrapper').append(aboutUsHiring);
  aboutUsHiring.style.position = 'relative';

  function myFunction() {
    var readMore = document.querySelector(".about-us__read-more");
    var moreText = document.getElementById("more");
    document.querySelector(".about-us").style.height = 'auto';
    if (readMore.style.display === "none") {
      readMore.style.display = "inline";
      moreText.style.display = "none";
    } else {
      readMore.style.display = "none";
      moreText.style.display = "inline";
    }
  }
</script>

<%-include("partials/footer")-%>