<%- include('partials/header') %>

<section>
  <div class="container-fluid accomodation-background">
    <div class="accomodation-page">
      <div class="jumbotron jumbotron-accomodation-cover p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="font-italic accommodation-title">
            Accommodation for Practical Sailing Courses
          </h1>
          <br />
          <br>
          <p class="lead my-3 mb-5">
            A chance to experience the real life at sea.
          </p>
          <br />
          <br>
          <p class="text-white font-weight-bold">Welcome Aboard!</p>
        </div>
      </div>

      <h2 class="h1-seo-replace my-5">Accommodation Information for Students</h2>
      <h4>General Policy</h4>
      <br />
      <p class="lead mb-4 text-justify">
        Please note that all multi-day sailing courses (except Start Yachting
        course) can include accommodation on the training boat for students but
        you need to confirm your intentions and book the cleaning & bedding
        service for 20 euro/person in advance.
      </p>
      <p class="lead mb-4 text-justify">
        In addition, our friends between them operate a fleet of licensed yachts
        within the Grand Harbour marinas with accommodation options based on the
        AirBnB basis.
      </p>
      <p class="lead mb-4 text-justify">
        This option may make your, and your non sailing family’s stay even more
        enjoyable and convenient. Why stay at a hotel when you can experience
        life as a live-aboard?
      </p>
      <p class="lead mb-4 text-justify">
        If you prefer a hotel, we can recommend some in the near environs. The
        transport from Malta Airport to our marina usually take around 15
        minutes by taxi.
      </p>
      <br />
      <h4>General Layout</h4>
      <br />
      <img class="accommodation-cabin-photos" src="/images/accommodation/accommodation-bavaria44-interior-layout.jpg" width="60%" alt="accommodation-bavaria44-interior-layout" /><br /><br /><br />
      <h4>Under the Deck</h4>
      <br />
      <img class="accommodation-cabin-photos" src="/images/accommodation/accommodation-bavaria44-cabin-entrance.jpg" width="60%" alt="accommodation-bavaria44-cabin-entrance" /><br /><br />
      <p class="lead mb-4">Salon</p>
      <img class="accommodation-cabin-photos" src="/images/accommodation/accommodation-bavaria44-galley.jpg" width="60%" alt="accommodation-bavaria44-galley" /><br /><br />
      <p class="lead mb-4">Galley and Salon</p>
      <img class="accommodation-cabin-photos" src="/images/accommodation/accommodation-bavaria44-stern-bedroom.jpg" width="60%" alt="accommodation-bavaria44-stern-bedroom" /><br /><br />
      <p class="lead mb-4">Aft Cabin</p>
      <img class="accommodation-cabin-photos" src="/images/accommodation/accommodation-bavaria44-head-bedroom.jpg" width="60%" alt="accommodation-bavaria44-head-bedroom" /><br /><br />
      <p class="lead mb-4">Fwd Cabin</p>
      <img class="accommodation-cabin-photos" src="/images/accommodation/accommodation-bavaria44-bed-bunks-starboard-cabin.jpg" width="60%" alt="accommodation-bavaria44-bed-bunks-starboard-cabin" /><br /><br />
      <p class="lead mb-4">Bunk Beds Cabin</p>
      <img class="accommodation-cabin-photos" src="/images/accommodation/accommodation-bavaria44-toilet.jpeg" width="60%" alt="accommodation-bavaria44-toilet" /><br /><br />
      <p class="lead mb-4">Fwd Head (toilet)</p>
      <br />
      <h4>Restaurant Nearby</h4>
      <br />
      <img class="accommodation-cabin-photos" src="https://media-cdn.tripadvisor.com/media/photo-s/14/79/a8/9c/bus-stop-lounge.jpg" width="60%" alt="accommodation-bus-stop-lounge" /><br /><br /><br />
      <p class="lead mb-4">Bus Stop Lounge</p>
      <p class="lead mb-4 text-justify">
        There are a lot of restaurants close to the marina. One of which we go
        to a lot is the Bus Stop Lounge, where you can enjoy a beautiful view of
        Gzira bay and delicious food with your crew members and trainer. Having
        a local beer Cisk with some snacks is really a pleasure after a day of
        heavy training. Highly recommended!
      </p>
      <img class="accommodation-cabin-photos" src="https://media-cdn.tripadvisor.com/media/photo-s/1b/8c/53/6b/photo0jpg.jpg" width="60%" alt="accommodation-bus-stop-lounge" /><br /><br /><br />
      <br />
      <h4>Recommended to bring</h4>
      <br />
      <p class="lead mb-4 text-justify">
        If you decide to sleep on the boat, please book the cleaning service
        which will include all the bedding and towels for your stay. So
        theortically you don't have to bring anything except your personal wash
        kits and clothes (T-shirts, shorts, swimming suits, fleece or jumper for
        the evenings and windy days at sea).
      </p>
      <p class="lead mb-4 text-justify">
        There are dedicated bathrooms for marina users at the entrance to the
        marina.
      </p>
      <p class="lead mb-4 text-justify">
        Still not clear how to live on a boat? Don't worry, we will send you
        joining instructions and explain everything the day you come aboard.
      </p>
      <p class="lead mb-4">
        ⬇️
        <u><a href="/files/9fc7a1b357d3ba558c7a9710307903d4.pdf">Download the joining instruction here</a></u>
        ⬇️
      </p>
    </div>
  </div>
</section>

<%- include('partials/footer') %>