<%-include("partials/header")-%>

<section>
  <div class="container-fluid choosing-the-right-course-background">
    <div class="choosing-the-right-course-page">
      <div>
        <div class="choosing-the-right-course-head">
          <img class="choosing-the-right-course-image" src="/images/home/home-choosing-the-right-sailing-course.webp" />
          <h1><b>Choosing the Right Sailing Course</b></h1>
          <br />
        </div>
        <p class="lead course-subtitle">
          Sailing School Malta is an recognised RYA training centre and we are
          able to offer courses from complete novice through to Yachtmaster.
        </p>
        <p class="lead course-subtitle mb-4">
          Students can take the course that suits their experience, or work
          through the scheme step by step. If you are not sure which course to
          take, please
          <a href="/contact#enquiry-form"><u>contact us</u></a> to discuss your
          individual needs.
        </p>
        <br />
        <a class="lead" href="/files/f7859ffb324609e8a5581ff7bcb393d2.pdf">
          <p>
            <b><u>View RYA Sail Cruising Courses System</u></b>
          </p>
        </a>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3">
          <a href="/courses/rya-start-yachting">
            <p class="lead">
              <b><em><u>Start Yaching:</u></em></b>
            </p>
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead">
            No experience needed, just interest. Lasts for two days, ideal for a
            weekend!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href="/courses/rya-competent-crew">
            <p class="lead">
              <b><em><u>Competent Crew Practical:</u></em></b>
            </p>
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead">
            No experience needed, just enthusiasm! Lasts for five days, an
            extension course based upon RYA Start Yaching.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href="/courses/rya-day-skipper-practical">
            <p class="lead">
              <b><em><u>Day Skipper Practical:</u></em></b>
            </p>
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead">
            Practical experience : 5 days, 100 miles, 4 night hours
          </p>
          <p class="lead">
            Assumed knowledge: Basic navigation & sailing ability.
          </p>
          <p class="lead">
            Ideally you will have attended the Day Skipper Theory Shorebased
            course or at least have a good understanding of the following:
          </p>
          <p class="lead">
            Tidal heights, Tidal streams, Course to steer, Passage planning,
            Compass variation, Pilotage, Clearing bearings, 3 Position fixes,
            Rules of the Road, Lights & Shapes and Knots. * See note
          </p>
        </div>
      </div>
            <div class="row">
        <div class="col-md-3">
          <a href="/courses/day-skipper-plus-practical-course">
            <p class="lead">
              <b><em><u>Day Skipper Plus Practical Course:</u></em></b>
            </p>
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead">
            You already hold RYA Day Skipper certificate but you dont feel confident being the skipper. Your handling skills and/or theory are a little rusty or you just wish to practice and learn more advanced techniques. 
          </p>
          <p class="lead">
            Assumed experience and knowledge: Day Skipper Pracical and Day Skipper Theory course.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href="/courses/rya-coastal-skipper-practical">
            <p class="lead">
              <b><em><u>Coastal Skipper Practical:</u></em></b>
            </p>
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead">
            Practical experience: 15 days (2 as skipper), 300 miles, 8 night
            hours.
          </p>
          <p class="lead">
            Assumed knowledge: Navigation to Coastal Skipper Shorebased
            standard.
          </p>
          <p class="lead">
            Sailing to Day Skipper Practical standard. * See note
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href="/courses/rya-yachtmaster-preparation-and-exam">
            <p class="lead">
              <b><em><u>Yachtmaster Coastal Practical Exam:</u></em></b>
            </p>
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead">
            Minimum sea time (within 10 years of exam). 30 days, two days as
            skipper, 800 miles, 12 night hours. Yachtmaster Theory, VHF or SRC
            Radio Operators certificate, First Aid Certificate
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a href="/courses/rya-yachtmaster-preparation-and-exam">
            <p class="lead">
              <b><em><u>Yachtmaster Offshore Practical Exam:</u></em></b>
            </p>
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead">
            50 days seatime, 5 days as skipper, 2500miles (half of which must be
            tidal), 5 passages over 60 miles including two overnight and two as
            skipper. Yachtmaster Theory, First Aid Certificate, VHF license
          </p>
        </div>
      </div>
      <br />
      <p class="lead">
        * Note: All prospective skippers should understand that without the
        required theoretical knowledge, it is unlikely that you will be able to
        successfully complete the course. Our instructors are there to help you
        if your theory is rusty but they cannot teach a theory course at the
        same time as a practical course.
      </p>
    </div>
  </div>
</section>

<%-include("partials/footer")-%>