<%- include("partials/header"); -%>

<section>
  <div class="container-fluid legal-notice-background">
    <div class="legal-notice">

      <h3>BOOKING CONDITIONS</h3><br>
      <p>Please note these conditions refer to a direct booking with us. If courses or charters are booked via third parties, please refer to their terms and conditions at the time of booking.</P>

      <P>Signing of the booking form signifies acceptance of the company’s "Terms and Conditions" and the company's "Booking Conditions" herein. <br>
        Any changes in circumstances before joining the course , eg health issues, should be notified to the principal.</p>

      <P>Classroom based course fees must be paid in full prior to course commencement. </p>

      <P>For practical courses or charters, confirmation of booking will be provided upon receipt of a completed booking form and receipt of a 50% non-refundable deposit. The balance may be paid on arrival subject to agreement by the
        principal of Sailing School Malta.</p>

      <P>If a client finds that it is necessary to cancel a course / charter within 4 weeks of the course / charter then the deposit will be forfeit. At the company’s discretion we may transfer the reservation to an acceptable
        alternative date. </p>

      <P>A full refund or an alternative booking will be offered if we cancel for reasons beyond our control. However, no liability will be accepted for flight tickets already purchased, other costs relating to travel or incidental
        expenses incurred. We recommend travel insurance to cover any costs or expenses.</p>

      <p>Payment can be made in cash or by bank transfer. Bank transfers must be sent in euro currency. A payment advice note will be issued upon booking and an invoice will be issued upon full payment.</p>

      <hr>

      <h3>GDPR (General Data Protection Regulations)</h3><br>

      <p>To enable access to your online course we need to share some of your personal data with the RYA via your user profile in www.ryainteractive.org. This learning management website is hosted and maintained by a third party called Learning Pool,
        who will not use your personal information for any reason other than enabling your course.</p>

      <p>Your name and email address will be entered on www.ryainteractive.org in order to create your user account. On your first access to the site, you will be asked to enter your address and date of birth. You will have access to the site for one
        year in order to complete your online course. During this period, your personal information will be held on the website by Learning Pool and be available to this training centre and the RYA for the purpose of managing your course.</p>

      <p>Instructional support will be provided by this training centre for a period of 6 months from the date of your course booking.</p>

      <p>On completion of your course, your name, email, date of birth and address will be transferred to the RYA's central database for the purpose of recording details of the course and any certification you gain as a result of it. This information
        allows the RYA to record your certification, to update any records they may already hold about you or your qualifications and to verify your certificate if required. After one year from the date of your enrolment on the course, your user
        account will be removed from www.ryainteractive.org.</p>

      <p>Full details of how the RYA will deal with your personal information will be displayed when you first access www.ryainteractive.org.</p>

      <hr>

      <h3>TERMS AND CONDITIONS</h3><br>
      <P>All customers take part in courses or charters at their own risk. No liability will be accepted for client’s personal possessions. Liability is not accepted for clients, whilst in or on any of our property, yachts, pontoon or whilst boarding
        yachts, as well as theft, attempted theft or damage to customers vehicles and any possessions removed from them.</p>

      <P>The company shall not accept claims and shall not be liable at any time for claims or expenses caused by circumstances beyond its control including sickness, accident, travel delays, weather, strikes, war or civil unrest.</p>

      <P>In the event of the company canceling a charter or course we shall be liable only for the refund of fees paid. No payment will be paid for incidental costs such as flights etc.</p>

      <P>In the unlikely event that a client is delayed prior to the course commencing, then we should be informed as soon as possible. If however, the client fails to arrive, for whatever reason, the total booking money will be forfeit, without
        liability to us.</p>

      <P>No student or persons chartering shall bring aboard any contraband, drugs or other substance or item without the prior knowledge and permission of the company.</p>

      <P>The skipper’s decision is final and binding with regards to the safety of the yacht and the crew’s well being. Clients should be aware that changes in weather conditions or other unforeseen circumstances may cause the skipper to alter the
        planned passage at short notice.</p>

      <P>Our vessels are insured against accident. We accept no liability for personal accident, for loss of or damage to property of the client. Therefore, it is recommended that the client arrange their own personal insurance.</p>

      <P>Clients shall be liable for any loss or damage to our equipment, up to the replacement value.</p>

      <P>It is expected that all clients participate in the running/housekeeping whilst on board the yacht. Prior to leaving the yacht, the yacht should be cleaned thoroughly. Pictures taken during your time with us may be used for promotional
        purposes, please advise us if you do not want images of you used.</p>

      <p>Sailing School Malta is a recognised training centre of the Royal Yachting Association and is subject to regular inspections to ensure quality of training. If you have any issues with the training provided by Sailing School Malta we ask that
        you first inform the school principal.</p>

      <hr>

      <h3> EQUALITY POLICY</h3><br>

      <p>Sailing School Malta is committed to the principle of equality of opportunity and aims to ensure that all present and potential participants, members, instructors, coaches, competitors, officials, volunteers and employees are treated
        fairly and on an equal basis, irrespective of sex, age, disability, race, religion or belief, sexual orientation, pregnancy and maternity, marriage and civil partnership, gender reassignment or social status. </p>

    </div>
  </div>
</section>


<%- include("partials/footer"); -%>