<%- include('partials/header') %>

<div class="container-fluid login">

  <div class="row">
    <div class="col-md-6">
      <h1 class="console-emoji">⚙</h1>
      <br>
      <div class="card">
        <div class="card-body">
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">


  <h1 class="console-emoji"><a href="/console">🕹</a></h1>
  <br>
  <div class="card">
    <div class="card-body">
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
      </form>
    </div>
  </div>



</div>
</div>

</div>

<%- include('partials/footer') %>