<%- include("partials/header"); -%>

<section>
  <div class="container-fluid legal-notice-background">
    <div class="legal-notice">
      <h3>PRIVACY POLICY</h3>
      <br />
      <p>
        At Malta Sailing School, we are committed to protecting the privacy and security of your personal information.
        This Privacy Policy outlines how we collect, use, and safeguard your data when you interact with our sailing
        school. By accessing our services, you agree to the practices described in this Privacy Policy. Please take a
        moment to review our policy carefully.
      </p>

      <h2>1. Information we collect:</h2>
      <p>We may collect various types of personal information from you, including but not limited to:</p>
      <ul>
        <li>Name</li>
        <li>Contact information (email address, phone number, postal address)</li>
        <li>Date of birth</li>
        <li>Gender</li>
        <li>Sailing experience and skill level</li>
        <li>Emergency contact information</li>
        <li>Payment method (for course fees and related transactions)</li>
        <li>Any other information you voluntarily provide to us during the booking or inquiry process.</li>
      </ul>

      <h2>2. How we use your information:</h2>
      <p>We will use the information we collect for the following purposes:</p>
      <ul>
        <li>To provide the sailing courses and related services you have requested.</li>
        <li>To process payments and maintain financial records.</li>
        <li>To communicate with you regarding your inquiries, bookings, or updates related to our services.</li>
        <li>
          To send you promotional materials, newsletters, or marketing communications (you can opt-out at any time).
        </li>
        <li>To improve our services, website, and customer experience.</li>
        <li>To comply with legal obligations and enforce our terms and conditions.</li>
      </ul>

      <h2>3. Data Security:</h2>
      <p>
        We implement reasonable and appropriate measures to protect your personal information from unauthorized access,
        disclosure, alteration, or destruction. We use industry-standard security protocols and regularly review our
        security practices.
      </p>

      <h2>4. Data Retention:</h2>
      <p>
        We will retain your personal information for as long as necessary to fulfill the purposes outlined in this
        Privacy Policy or as required by applicable laws and regulations. Once we no longer need your data, we will
        securely dispose of it.
      </p>

      <h2>5. Sharing of Information:</h2>
      <p>We may share your personal information with the following parties under certain circumstances:</p>
      <ul>
        <li>Instructors and staff members directly involved in providing the sailing courses.</li>
        <li>Third-party service providers who assist us in delivering our services (e.g., payment processors).</li>
        <li>Emergency services in case of any accidents or emergencies during sailing courses.</li>
        <li>Law enforcement or regulatory authorities if required by law or to protect our rights and interests.</li>
      </ul>

      <h2>6. Cookies and Tracking Technologies:</h2>
      <p>
        Our website may use cookies and similar tracking technologies to enhance your browsing experience. You can
        manage your cookie preferences through your web browser settings.
      </p>

      <h2>7. Third-Party Links:</h2>
      <p>
        Our website may contain links to third-party websites. We are not responsible for the privacy practices or
        content of these websites. Please review the privacy policies of these third-party sites when visiting them.
      </p>

      <h2>8. Children's Privacy:</h2>
      <p>
        Our services are not intended for children under the age of 16. If we discover that we have inadvertently
        collected personal information from a child, we will take appropriate measures to delete it promptly.
      </p>

      <h2>9. Your Rights:</h2>
      <p>
        You have the right to access, correct, or delete your personal information held by Malta Sailing School. If you
        wish to exercise any of these rights or have any privacy-related concerns, please contact us using the
        information provided below.
      </p>

      <h2>10. Changes to this Privacy Policy:</h2>
      <p>
        We may update this Privacy Policy from time to time to reflect changes in our practices or for other
        operational, legal, or regulatory reasons. Any modifications will be effective when we post the revised policy
        on our website.
      </p>

      <h2>11. <a href="/contact#enquiry-form">Contact Us</a></h2>


      <p>
        By enrolling in our sailing courses or using our services, you acknowledge that you have read and understood
        this Privacy Policy and agree to its terms and conditions.
      </p>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
