<%- include('partials/headers/header-yachts-charter') %>

<section>
  <div class="container-fluid yachts-background">
    <div class="yachts-page">

    <!-- Titles -->
    <div class="text-center">
      <h1><b>Our Yachts</b></h1>
      <br />
      <p class="lead text-center">
        At this moment our fleet consists of 3 well-maintained modern sailing yachts, ranging from 13 – 16m (44 – 54ft) in length. We have them for different purposes. This way we have dedicated School yachts as well as Charter yachts and some that can be used for both. 
      </p4>
    </div>  

    <div class="container-fluid my-5">
    <div class="row justify-content-center">

      <!-- First widget -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="border-radius: 5px 5px 0 0;">
            <!-- Tags -->
            <div style="position: absolute; top: 15px; left: 30px; background-color: #ffc107; color: black; 
                        border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Training
            </div>
            <div style="position: absolute; top: 15px; left: 105px; background-color: #28a745; color: white; 
                        border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              School
            </div>
              <!-- <div style="position: absolute; top: 15px; left: 190px; background-color: #28a745; color: white; 
                        border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Advanced
            </div> -->
          <div class="my-3 py-3">
            <h2 class="display-5" ><a target="_blank" rel="noopener noreferrer" href="/yachts/lookfar">Look Far</a></h2>
            <p class="lead">Bavaria 44 Cruiser (2004)</p>
          </div>
            <div class="bg-light box-shadow mx-auto">
              <img src="/images/yachts/yachts-bavaria44c.jpeg"
                    alt="yachts bavaria 44c"
                    style="width: 100%; max-width: 400px; height: 250px; border-radius: 5px 5px 0 0   ; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);"
                    class="mx-auto d-block">  
            </div> 
        </div>
        <a class="mt-5 btn btn-outline-secondary course-four-bottom" target="_blank" rel="noopener noreferrer" href="/yachts/lookfar" role="button">More info &raquo;</a>
      </div>

      <!-- Second widget -->
      <div class=" col-lg-4 col-md-6 mb-4">
        <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="border-radius: 5px 5px 0 0;">
                        <div style="position: absolute; top: 15px; left: 30px; background-color: #ffc107; color: black; 
                        border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Training 
            </div>
                       <div style="position: absolute; top: 15px; left: 105px; background-color: #28a745; color: white; 
                        border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Mile Builder
            </div>
            <div style="position: absolute; top: 15px; left: 205px; background-color: #5871ff; color: white; 
                border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Charter
            </div>
 

          <div class="my-3 p-3">
            <h2 class="display-5"><a target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/yacht">Ocean Caresser</a></h2>
            <p class="lead">Bavaria 46 Cruiser (2007)</p>
          </div>
            <div class="bg-light box-shadow mx-auto">
              <img src="/images/yachts/yachts-bavaria46c.png"
                    alt="yachts bavaria 46c"
                    style="width: 100%; max-width: 400px; height: 250px; border-radius: 5px 5px 0 0   ; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);"
                    class="mx-auto d-block">  
            </div>       
        </div>
                <a class="mt-5 btn btn-outline-secondary course-four-bottom" target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/yacht" role="button">More info &raquo;</a>
        </div>

      <!-- third widget -->
      <div class=" col-lg-4 col-md-6 mb-4">
        <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="border-radius: 5px 5px 0 0;">
            <div style="position: absolute; top: 15px; left: 30px; background-color: #5871ff; color: white; 
                border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Charter
            </div>
            <!-- <div style="position: absolute; top: 15px; left: 100px; background-color: #28a745; color: white; 
                        border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Safe
            </div>
              <div style="position: absolute; top: 15px; left: 155px; background-color: #ffc107; color: white; 
                        border-radius: 12px; padding: 4px 10px; font-size: 0.8rem; font-weight: 600;">
              Fun 
            </div> -->
          <div class="my-3 p-3">
            <h2 class="display-5"><a target="_blank" rel="noopener noreferrer" href="/yachts/xanax">Xanax</a></h2>
            <p class="lead">Jeanneau Sun Odyssey 54 (2005)</p>
          </div>
            <div class="bg-light box-shadow mx-auto">
              <img src="/images/yachts/yachts-jeanneau-sun-odyssey-54.webp"
                    alt="Jeanneau Sun Odyssey 54"
                    style="width: 100%; max-width: 400px; height: 250px; border-radius: 5px 5px 0 0   ; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);"
                    class="mx-auto d-block">  
            </div>      
        </div>
                <a class="mt-5 btn btn-outline-secondary course-four-bottom" target="_blank" rel="noopener noreferrer" href="/yachts/xanax" role="button">More info &raquo;</a>

        </div>
      </div>

    </div>

          <!-- family course charter tariff -->
      <section>
      <div class="container pt-5 pb-3 mt-5">
        <div class="row justify-content-center mb-4">
          <div class="col-md-8 text-center">
            <h1 class="text-dark font-weight-bold">Private Sailing Course / Skippered Charter Price 2025</h1>
          </div>
        </div>

        <div class="row text-center border bg-light rounded py-2 font-weight-bold text-dark" style="background-color: #3489d8;">
          <div class="col text-left">Duration</div>
          <div class="col">Dec–Mar</div>
          <div class="col">Apr–Jun</div>
          <div class="col">Jul–Sep</div>
          <div class="col">Oct–Nov</div>  
        </div>

        <div class="row text-center py-2 border-bottom">
          <div class="col text-left font-weight-bold">5-day Mon-Fri</div>
          <div class="col">€3500</div>
          <div class="col">€3800</div>
          <div class="col">€4200</div>
          <div class="col">€4000</div>
        </div>

        <div class="row text-center py-2 border-bottom">
          <div class="col text-left font-weight-bold">7-day Mon-Sun</div>
          <div class="col">€4200</div>
          <div class="col">€4500</div>
          <div class="col">€5000</div>
          <div class="col">€4800</div>
        </div>

        <div class="row text-center py-2 border-bottom">
          <div class="col text-left font-weight-bold">2-day Sat-Sun</div>
          <div class="col">€1400</div>
          <div class="col">€1500</div>
          <div class="col">€1600</div>
          <div class="col">€1500</div>
        </div>
        <br>
        <p>*Please note: Max 8 guests on boat; max 5 students if private RYA course. Price is for <a  target="_blank" rel="noopener noreferrer" href="https://mastersailingmalta.com/yacht"><u>Bavaria 46 Cruiser</u></a> (4 cabins 2 heads); 2-day course only available for weekends. For day charter price of Xanax, please check <a href="/yachts/xanax" target="_blank" rel="noopener noreferrer"><u>here</u></a>.</p>
      </div>
      </section>


              <div class="course-bottom-buttons mb-5 pb-5">
              <a class="btn btn-primary course-four-bottom" target="_blank" rel="noopener noreferrer" href="/contact#enquiry-form" role="button">Send us an enquiry &raquo;</a>
              <a class="btn btn-warning course-four-bottom" target="_blank" rel="noopener noreferrer" href="/booking/courses/rya-courses-family-sailing" role="button">Charter a boat now &raquo;</a>
              </div>


    <div class="text-center">
      <h1><b>Is Learning to Sail in Malta Right for You?</b></h1>
      <br />
      <p class="lead text-center">Read what some of our sailing students have to say, explore our course catalogue, and contact us for more information about each course and our availabilities. Come and sail in Malta!
      </p4>
    </div>  
            <!-- Horizontal Scroll Gallery -->
            <div class=" my-5">
              <div class="horizontal-scroll-gallery d-flex flex-nowrap overflow-auto">
                   <img src="/images/yachts/malta-sailing-yachts-charter15.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter15.webp" alt="malta-sailing-yachts-charter15">
                  <img src="/images/yachts/malta-sailing-yachts-charter2.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter2.webp" alt="malta-sailing-yachts-charter2">
                  <img src="/images/yachts/malta-sailing-yachts-charter3.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter3.webp" alt="malta-sailing-yachts-charter3">
                  <img src="/images/yachts/malta-sailing-yachts-charter4.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter4.webp" alt="malta-sailing-yachts-charter4">
                  <img src="/images/yachts/malta-sailing-yachts-charter5.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter5.webp" alt="malta-sailing-yachts-charter5">
                  <img src="/images/yachts/malta-sailing-yachts-charter6.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter6.webp" alt="malta-sailing-yachts-charter6">
                  <img src="/images/yachts/malta-sailing-yachts-charter7.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter7.webp" alt="malta-sailing-yachts-charter7">
              </div>
              <br>
              <div class="horizontal-scroll-gallery d-flex flex-nowrap overflow-auto">
                  <img src="/images/yachts/malta-sailing-yachts-charter1.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter1.webp" alt="malta-sailing-yachts-charter1">
                  <img src="/images/yachts/malta-sailing-yachts-charter8.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter8.webp" alt="malta-sailing-yachts-charter8">
                  <img src="/images/yachts/malta-sailing-yachts-charter9.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter9.webp" alt="malta-sailing-yachts-charter9">
                  <img src="/images/yachts/malta-sailing-yachts-charter10.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter10.webp" alt="malta-sailing-yachts-charter10">
                  <img src="/images/yachts/malta-sailing-yachts-charter11.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter11.webp" alt="malta-sailing-yachts-charter11">
                  <img src="/images/yachts/malta-sailing-yachts-charter12.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter12.webp" alt="malta-sailing-yachts-charter12">
                  <img src="/images/yachts/malta-sailing-yachts-charter13.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter13.webp" alt="malta-sailing-yachts-charter13">
                  <img src="/images/yachts/malta-sailing-yachts-charter14.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter14.webp" alt="malta-sailing-yachts-charter14">
                  <img src="/images/yachts/malta-sailing-yachts-charter16.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter16.webp" alt="malta-sailing-yachts-charter16">
                  <img src="/images/yachts/malta-sailing-yachts-charter17.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter17.webp" alt="malta-sailing-yachts-charter17">
                  <img src="/images/yachts/malta-sailing-yachts-charter18.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter18.webp" alt="malta-sailing-yachts-charter18">
                  <img src="/images/yachts/malta-sailing-yachts-charter19.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter19.webp" alt="malta-sailing-yachts-charter19">
                  <img src="/images/yachts/malta-sailing-yachts-charter20.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter20.webp" alt="malta-sailing-yachts-charter20">
                  <img src="/images/yachts/malta-sailing-yachts-charter21.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/yachts/malta-sailing-yachts-charter21.webp" alt="malta-sailing-yachts-charter21">              
              </div>

            </div> 

              <!-- Image Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content bg-transparent border-0">
                  <div class="modal-body text-center">
                    <img id="modalImage" src="" class="img-fluid rounded" alt="Full Size">
                  </div>
                </div>
              </div>
            </div>

            <script>
              $(document).ready(function () {
                $('#imageModal').on('show.bs.modal', function (event) {
                  var img = $(event.relatedTarget);
                  var src = img.data('src');
                  $('#modalImage').attr('src', src);
                });
              });
            </script>

              <div class="course-bottom-buttons">
              <a class="btn btn-dark course-four-bottom" target="_blank" rel="noopener noreferrer" href="/courses/rya-practical-sail-cruising" role="button">View sailing courses &raquo;</a>
              <a class="btn btn-info course-four-bottom" target="_blank" rel="noopener noreferrer" href="/courses/mile-builder" role="button">Join a sailing adventure &raquo;</a>
              </div>
              
              <%- include("./partials/reviews"); -%>
          
              <!-- Boat Owners -->
          <section class="mt-5 pt-3">
          <h1><b>Boat Owners – Partner With Us</b></h2>
          <br>
          <p class="lead"><em>Would you like to earn from your yacht without the hassle?</em></p>
          <br>
          <p class="lead">
          We’re expanding our skippered yacht charter operations in Malta and are actively looking for boats (both sail and motor boat) to add to our fleet. 
          </p>
          <p class="lead">
          Thanks to our in-house web dev team and digital marketing team, Sailing School Malta website always ranks among the top 1 or top 2 results for searches like <strong>“Sailing Malta”</strong>, <strong>“Malta Sailing”</strong>, <strong>"sailing course Malta”</strong>, <strong>"sailing adventures Malta”</strong>, and <strong>“Skippered Charter Malta”</strong> on Google. Our site, students sailor community, social media channels receive frequent booking and charter enquiries—giving your boat maximum visibility.
          </p>
          <p class="lead">
          If you’d like a reliable partner to manage bookings and take care of your yacht’s maintenance locally, we’d love to hear from you. Whether you're seeking occasional charters or full-season exposure, we offer flexible options.
          </p>
          <p class="lead">
          Additionally, our RYA students often request onboard accommodation. Since our own fleet fills up quickly, we’re looking to collaborate with other owners to offer more berths to meet this demand.
          </p>          
          <!-- <img src="/images/charter-and-cruises/charter-and-cruises-ship-owners.jpg" width="100%" alt=" charter-and-cruises-ship-owners"> -->
              <div class="course-bottom-buttons mt-5 ">
              <a class="btn btn-outline-dark course-four-bottom" target="_blank" rel="noopener noreferrer" href="/contact#enquiry-form" role="button">Contact us &raquo;</a>
              </div>
  
        </section>


                      <!-- Boataround -->
          <section class="mt-5 pt-3">
          <h1><b>Charter Somewhere Else With Good Rate</b></h2>
          <br>
          <p class="lead"><em>Would you like to charter a boat with discount in Croatia, Greece, Caribbean, or elsewhere?</em></p>
          <br>
          <p class="lead">
          We collaborate with <a href="https://www.boataround.com/?ref_afi=sailingschoolmalta-com" target="_blank" rel="noopener noreferrer" ><u>Boat Around</u></a> to offer discounted charters to our sailing school students.
          </p>        
              <div class="course-bottom-buttons mt-5 ">
             <a href="https://www.boataround.com/?ref_afi=sailingschoolmalta-com" target="_blank" rel="noopener noreferrer"  class="btn btn-light course-four-bottom" role="button"><img src="/images/yachts/boataround_logo_black.png" width="150"></a>
  
            </div>
  
        </section>
  </div>

    </div>
  </div>
</section>

<%- include('partials/footer') %>