<script type="text/babel">
  <%- include("./Filters")-%>
  <%- include("./CourseDates")-%>

      const $courseDatesApp = document.getElementById("course-dates-app");
      const useState = React.useState;
      const useRef = React.useRef;
      const useEffect = React.useEffect;
      const Fragment = React.Fragment;

      const CourseDatesApp = () => {
          const [filters, setFilters] = useState({
              courseType: [],
              level: [],
          })

          return (
              <section className="course-dates">
                  <div className="">
                      <img className="top-image" src="/images/course-dates/mile-builder-sailing-339.png"/>
                  </div>
                  <div className="head-2">
                          <h2>Find the right course and dates</h2>
                          <p className="subtitle">Adjust the filters below to find the most suitable course for your interest and level.</p>
                          <Filters setFilters={setFilters} filters={filters} />
                      </div>
                  <CourseDates filters={filters} />

                  <p className="footer">
                      If you don't see the course your are looking for, please contact us.
                  </p>
              </section>
          );
      };


      ReactDOM.render(<CourseDatesApp />, $courseDatesApp);
</script>